[2020-04-28 15:13] jcohenadad opened #12 "datalad/git commands are painfully slow in large database"
e.g., `git status` on large/ takes >30min which is insane.

@alexfoias can you pls check if having a "local" DB of the same size would make it quicker? do a temp copy of the whole DB in an nvme disk, make it a datalad, and do comparisons-- thx

[2020-11-10 20:25] jcohenadad opened #18 "Rename sct_testing/large --> sct-testing-large.git"
And remove one directory level, ie:
[code]

[2020-11-10 20:36] jcohenadad opened #19 "Set up and document workflow for contributing to the private datasets"
This is a WIP -- suggestions welcome

- Set up two roles: CREATORS | WRITERS
- WRITERS:
  - can create new branches (e.g. to submit manual segmentations, add datasets)
  - cannot write to master

Typical workflows:
- Upload manual segmentations
  - User in the WRITERS group would make the modification locally
  - Would create a new branch and commit/push to that branch
  - Someone in CREATORS revi

[2020-11-13 21:14] kousu commented on #18
This did it:

[code]

[2020-11-13 21:14] #18 closed

[2020-12-04 22:19] kousu opened #20 "Disaster Plan"

[2020-12-08 10:04] kousu opened #22 "Internal server (git+ssh://data.neuro.polymtl.ca)"
I am deploying a git server on poly's internal infrastructure. This is cheaper, and faster (bandwidth-wise) than paying Amazon or Github for hosting the large datasets we experiment on, and safer for our datasets with privileged medical data.

[2020-12-08 11:56] kousu opened #23 "Investigate annex.thin and annex.hardlink"
In git-annex v8, the default config makes checked out files the full files, instead of symlinks like in v7 and earlier, git-lfs style. But if `.git/annex` also stores a copy of all the data then users are doubling their storage for nothing. (note: this *does not* double the storage on a server; servers only keep git 'bare' git repos, without a checked out copy)

There are two options, 'annex.hardl

[2020-12-10 08:59] kousu opened #27 "internal server: permissions"
We need to figure out how to do protected branches and protected repos on gitolite. This is a requisite for #19, and for me feeling good enough about #22 to close it. I can do this with its permission system: https://gitolite.com/gitolite/conf.html#access-rules but I need to read it closely and test it out.

Probably we want people to share repos and just work in private branches -- the way we oft

[2020-12-18 16:39] kousu opened #33 "Migration"
We need to migrate datasets off duke and onto the git server.

I imagine both will live on for a while, but we want to prefer the git server to

a. save space by using branching instead of duplicating entire datasets
b. have provenance tracking

[2020-12-18 16:50] kousu commented on #33
duke has a huge amount of storage attached, so. We've been promised that the storage on the git server can be expanded as needed but for now it is 1TB, so we need to do some reconnaissance.

I'm starting here:

[code]

Okay so it looks like the CIFS mounts are shared from two disks: a 4.4T disk and a 8.9T disk, and that we've used 12T in all. But I've gotta think that most of that is junk.

I'm st

[2020-12-22 19:32] kousu commented on #33
^ first attempt reset halfway through. it's a lot of data to process. trying again now.

[2021-01-13 19:04] mpompolas opened #34 "Double size of dataset after cloning"
The size of the folder is double than what is expected.

After my latest cloning:

[code]

In the past, we achieved:
![image](https://user-images.githubusercontent.com/23224563/104496953-a9b45800-55a7-11eb-9c05-a8e91ca8ccda.png)

We had this issue before but the procedure on how we go around it is not documented as a standard approach: https://github.com/neuropoly/data-management/blob/ng/gitolite/

[2021-01-14 21:34] mpompolas opened #36 "Many empty .json files copied after pulling annex"
There are a lot of json files that are not properly copied.
Way more within the derivatives.

For reference:

Within sct-testing-large the empty ones are mostly DWI sequences.

[code]

[2021-01-15 02:23] jcohenadad commented on #36
thank you for catching that @mpompolas.
@alexfoias do you know what could have happened? are the original JSON (on duke) ok?

[2021-01-15 19:36] alexfoias commented on #36
It's normal that some are empty, they didn't exist in the old sct_testing (before bids). I have added them in order to make a valid BIDS dataset. The culprit is https://github.com/neuropoly/internal_tools/blob/master/python/sct_testing_bids/5_create_missing_json.py

I remember that I also had to add empty json in /derivatives because of one of the loader that required the json sidecar.

[2021-01-15 20:23] jcohenadad commented on #36
OK, I'm fine keeping those JSON empty. We didn't have the info in the first place anyway.

[2021-01-18 17:21] mpompolas commented on #36
link to https://github.com/ivadomed/ivadomed/issues/532#issuecomment-731280877

[2021-01-20 16:11] sandrinebedard opened #37 "ssh: Could not resolve hostname data.neuro.polymtl.ca: Temporary failure in name resolution"
While trying to connect to data.neuro.polymtl.ca, following the steps for [internal server](https://github.com/neuropoly/data-management/blob/master/internal-server.md) the following error occurred:
[code]

I am using WSL with Ubuntu 18.04.
`ping data.neuro.polymtl.ca` worked, so VPN connection was ok.

UPDATE: rebooting the computer solved this issue.

[2021-01-20 16:14] kousu commented on #37
Thank you for the report @sandrinebedard. I suspect we can't fix this relaibly so we'll have to document it. Once we collect a few more examples maybe we'll know better.

[2021-01-20 16:27] alexfoias commented on #37
maybe related to https://github.com/microsoft/WSL/issues/5256

@sandrinebedard how did you try to connect to the git server ? did you connect to vpn and then from your computer you tried to initiate the ssh (without passing through another computer physically located a Poly) ? are you using your student vpn access?

[2021-01-20 17:00] sandrinebedard commented on #37
@alexfoias, I connected to vpn ( my student vpn access) and from my computer, I tried to initiate the ssh, without passing through another computer at Poly

[2021-01-22 16:40] kousu opened #38 "Stress Testing"
We are unsure about performance of our storage system. We want to measure I/O performance to [duke.neuro.polymtl.ca](https://www.neuro.polymtl.ca/internal_resources/list_of_computers#duke).

There are several factors:

- which disk we're writing to (represented by different mountpoints)
- whether we're writing from
    - locally on duke
    - remotely on the neuropoly LAN
        - over smb://

[2021-01-22 16:41] kousu commented on #38
There are several tooling recommendations on https://wiki.archlinux.org/index.php/Benchmarking

* https://github.com/Algodev-github/S
* http://www.phoronix-test-suite.com/
* https://en.wikipedia.org/wiki/Bonnie%2B%2B
* simply using `dd` + `iostat`

https://www.thomas-krenn.com/en/wiki/Linux_I/O_Performance_Tests_using_dd is a guide to testing with `dd`.

https://linuxreviews.org/HOWTO_Test_Disk_I/

[2021-01-22 16:42] kousu commented on #38
Anything we come up with here could be applied to `data.neuro.polymtl.ca` too

[2021-01-27 23:19] sandrinebedard opened #39 "Bad header info for nifti files in uk-biobank dataset"
## Description
I git cloned the `uk-biobank` dataset  on joplin to test preprocessing steps, it could'nt work because it was unable to open the nifti files.
When I try to get the header of a nifti file from the dataset I get this:
[code]
Can somebody check if they can reproduce this error? Maybe I downloaded the data the wrong way, I followed https://github.com/neuropoly/data-management/blob/maste

[2021-01-28 01:58] jcohenadad opened #40 "Is data-single-subject an 'out-of-sync' duplicate of that in AWS?"
There is already a [data-single-subject hosted on AWS](https://github.com/spine-generic/data-single-subject#spine-generic-public-database-single-subject), so where is the `datasets/data-single-subject` coming from? What happens if the one on AWS is updated, is this one updated too? If not, we should probably do something about it, eg: remove it or make sure it is synced.

Otherwise, what will happ

[2021-01-28 02:05] jcohenadad commented on #12
Closing because the issue is resolved: don't use git-annex on a mounted repos

[2021-01-28 02:05] #12 closed

[2021-01-28 02:08] jcohenadad opened #41 "Cloning a repository effectively downloads the data under .git/ tree"
So far when I was using datalad, a `git clone` would not download the data. Only when fetching the data on demand would download them.

Now, when trying to clone a large dataset, e.g. `datasets/uk-biobank` it is effectively downloading ~20GB of data, even _before_ asking to fetch the data with `git-annex get`. Is that an expected behaviour? Is there something we can do about it @kousu ?

Possibly

[2021-01-28 16:48] kousu commented on #39
It looks like the content hasn't been uploaded yet:

[code]

This means that even doing `get` will leave you with a pointer instead of the file:

[code]

[2021-01-28 16:51] jcohenadad commented on #39
Thank you for looking into it @kousu . So the next question would be: would it be possible to upload it? Was @alexfoias on it?

[2021-01-28 16:52] kousu commented on #39
Oh wait sorry that's a red-herring. The `--depth 1` was a shortcut I shouldn't have taken here.

And my name is on the log. So either I messed up and didn't notice for weeks or it's something else.

[2021-01-28 17:12] jcohenadad commented on #41
Note: I've tried using `git clone --depth=1`, which is super fast, but then I cannot "git-annex get" the images afterwards.

[2021-01-28 17:12] jcohenadad commented on #39
Been there done that 😅   https://github.com/neuropoly/data-management/issues/41#issuecomment-769235520

[2021-01-28 17:14] jcohenadad commented on #39
I've tried reproducing the error on my local station (took a few hours to get the 20GB 😅 ). Looks like I _can_ get the data:
[code]

[2021-01-28 17:16] kousu commented on #39
Ah yeah it's actually there, once I remembered to sync `git-annex`

[code]

the files are there:

[code]

I wonder if something disrupted @sandrinebedard's download halfway through.

[2021-01-28 17:31] kousu commented on #39
I think there's something else off with this dataset btw. The `af/add_subj` branch seems to have accidentally circumvented `git-annex`, so  `git clone` wanted to download 18G.

[2021-01-28 17:58] kousu commented on #41
@alexfoias's `af/add_subj` branch added the niftis to git directly instead of the annex:

[code]

Perhaps a version incompatibility? Or maybe `git annex init` didn't finish properly? Drat.

This is the same issue as https://github.com/neuropoly/spinalcordtoolbox/issues/3100. But because we've got our own server in this case we can avoid this by installing a pre-receive hook!

[2021-01-28 18:00] kousu commented on #41
So to fix this this:

1. Delete and redo `af/add_subj` properly
2. Install a `pre-receive` hook to avoid this accident in the future.
  - we should be able to safely make it reject all .nii.gz files larger than 103 bytes, which is the size of a git-annex pointer. We can set that to, say, 1KB just in case.

[2021-01-28 18:07] kousu commented on #40
It is. I used it as a test.

It's probably out of sync. The most recent commit on it is:

[code]

so, several months behind [the current HEAD](https://github.com/spine-generic/data-single-subject/commits/0083fb9f06f4e5134fdd5f4ec0e60adb1a2d4e19).

I used it as an initial test, but I plan to keep it as a further test case as part of #20. That is meant to produce a (hopefully short) script that make

[2021-01-28 18:39] sandrinebedard commented on #39
Ahhh, I think I forgot to install v8 of git annex on joplin, I will try again after with the git clone!!!

[2021-01-28 18:57] sandrinebedard commented on #39
Checking the header works now! 🎉

[code]

[2021-01-28 19:28] jcohenadad commented on #40
ok no problem-- but can you please rename it as `data-single-subject-DO-NOT-USE`

many thanks 😊

[2021-01-28 19:29] jcohenadad commented on #41
that would be awesome

[2021-01-28 21:26] kousu opened #42 "uk-biobank: 7 missing subjects"
**HEADS UP**: this issue is about a private dataset covered by PII protections. Make doubly-sure not to post the content of any files on this thread.

These subjects are missing from `datasets/uk-biobank`:

[code]

I have the folders, imported from our SMB share, but they are empty so git didn't record them and as of the current `master` they are just missing when people clone the dataset.

What h

[2021-01-28 21:48] kousu opened #43 "Limit file size on commit"
As in

* https://github.com/shimming-toolbox/shimming-toolbox/issues/199
* https://github.com/neuropoly/spinalcordtoolbox/issues/3100
* https://github.com/neuropoly/axondeepseg/issues/423
* https://github.com/ivadomed/ivadomed/issues/583

and to reduce accidents like #41, we should block large files getting uploaded to our internal server.

But here we can do one better: because I control the serv

[2021-01-28 21:49] kousu commented on #43
In fact we can set two hooks:

1. just block all files over a certain size
2. specifically block all .nii.gz files that aren't exactly 103 bytes because, on this server, they should all be git-annex pointers

[2021-01-28 21:50] kousu commented on #41
1. We redid `af/add_subj` and deleted it.

First, the bug turned out to be mixing git-annex v7 and git-annex v8. We installed git-annex v8 from conda:

[code]

Then we made a branch off the branch to redo it:

[code]

Then we synced that back:

[code]

After checking it over a bit, we deleted the old branch:

[code]
(and @alexfoias [tidied up](https://xkcd.com/1597/):

[code]
)

2. https://github.

[2021-01-28 21:50] #41 closed

[2021-01-28 21:54] kousu commented on #39
I'm kind of unclear what happened here. I thought git-annex v7 could consume, just not contribute (easily) to v8 repos. Maybe #41 caused problems getting a clean download. :shrug:

[2021-01-28 21:54] #39 closed

[2021-01-28 21:57] kousu commented on #40
Done:

[code]

Maybe we could make a `mirrors/` subfolder and put it there?

[code]

?

If we did that we could set permissions on it that prevent all writes (except by the server itself).

[2021-01-29 01:22] jcohenadad commented on #40
great idea! although lower on the priority list

[2021-01-29 15:38] alexfoias commented on #42
The problem comes from the fact that in the export script to bids I'm looking for _'T1/T1_orig_defaced.nii.gz','T1/T1.json' and 'T2_FLAIR/T2_FLAIR_orig_defaced.nii.gz','T2_FLAIR/T2_FLAIR.json'_ but for the subjects below the images are marked as unusable and have a different path in the zip file. I suggest we remove these subjects from the dataset.

I downloaded only the sujects that had the indic

[2021-01-29 19:44] alexfoias commented on #42
Here are some stats on the 1000 subjects downloaded so far:

[code]

[2021-01-29 19:45] alexfoias commented on #42
closed issue by mistake when clicked comment

[2021-01-29 19:57] alexfoias commented on #42
Here is a stat for the first 350 subjects (that were supposed to be under the main branch at the moment):
[code]
I have identified the missing  7 _sub-_ folders and validated them above.

[2021-01-29 19:58] alexfoias commented on #42
Missing T1/T2 images because they are in the folder /unusable.

[2021-02-01 14:46] alexfoias commented on #42
@jcohenadad @kousu How should we proceed ? Should we remove the unusable subjects? Also do we want to remove the subjects that don't have the json sidecar for T1w or T2w?

[2021-02-01 15:12] jcohenadad commented on #42
what's the problem? why are they unusable?

[2021-02-01 16:06] alexfoias commented on #42
The problem is that I downloaded 350 subjects, I ran my pipeline to create BIDS structure, but 7 subjects are empty hence they didn't get pushed to git. So on the master branch of the uk-biobank we only have 343 subjects instead of 350. In addition, some images don't have the json sidecar (because it doesn't exist in the initial data). Initial data is the zip file downloaded for any subject per co

[2021-02-02 01:32] jcohenadad commented on #42
ok let's forget about these unusable subjects-- we have enough to play with 😅

[2021-02-02 15:49] alexfoias commented on #42
okay, what about the ones without json sidecar ?

I suggest to keep only the subjects that have T1 & T2 images with the additional sidecars.

[2021-02-02 15:52] jcohenadad commented on #42
why don't they have JSONs? wasn't it supposed to be generated by your script?

[2021-02-02 15:58] alexfoias commented on #42
Some subject are missing the jsons from the files downloaded from them. I don't generate the JSONs. I get the json from each contrast zip file that contains something like this for a T1:

[code]

[2021-02-02 16:12] alexfoias commented on #42
So what should we do for the subjects without json sidecar ?

[2021-02-02 16:14] jcohenadad commented on #42
can you just create a dummy one?

[2021-02-02 16:17] alexfoias commented on #42
of course. An empty one?

[2021-02-02 16:24] jcohenadad commented on #42
for now yes-- then we'll add whatever we need--

[2021-02-02 16:26] alexfoias commented on #42
perfect. The other remaining issue is that 3 subjects have T1w, but they don't have T2w image. Do we remove them ?

[2021-02-02 16:29] alexfoias opened #44 "implement CI for uk-biobank"
@kousu Is it possible to implement CI for the uk-biobank repo ?

Aspects to check:
- check if all subjects listed in participants.tsv have data folders
- check if all subjects have T1w, T2w images and json sidecar

[2021-02-02 16:33] jcohenadad commented on #42
yes

[2021-02-02 16:36] alexfoias commented on #42
perfect. I'll fix everything.

[2021-02-09 16:48] kousu opened #45 "gitolite: `trunk`"
Git [is moving away from `master`](https://sfconservancy.org/news/2020/jun/23/gitbranchname/). I figured it was harmless, so I set

[code]

on my machine.

If I try to upload a new repo to gitolite, though, it says:

[code]

But on the actual repo on the server `master` is nowhere to be found:

[code]

I don't know if this will cause problems.
I notice also that `git-annex` has `master` strewn thr

[2021-02-09 16:54] kousu commented on #45
Aha, problem #1: it breaks cloning:

[code]

[code]

On github, the first pushed branch becomes HEAD. Is this a bug in gitolite?

[2021-02-11 14:12] kousu commented on #45
Reported Upstream: https://groups.google.com/g/gitolite/c/NwZ1-hq9-9E/m/P_o3F1vbDgAJ

I think for now we should stick to using `master`; I think patching gitolite to work the same as github won't be hard, but we'll have to see if there's support for doing that and then do it.

[2021-02-11 15:47] alexfoias commented on #38
@kousu do we have an initial plan for testing the HCI on duke?

[2021-02-11 16:44] kousu commented on #38
No. The plan is to try running some of those tools above. That's as far as I've gotten.

[2021-02-11 16:51] kousu commented on #42
I suspect empty .json files will cause problems down the road. I am surprised `bids-validator` would pass these.

---

In fact, it doesn't:

[code]

[2021-02-11 17:15] kousu commented on #42
I wonder if `{}` would be acceptable. At a minimum I would do:

[code]

This seems to have satisfied the validator because it changed what file it was complaining about:

[code]

This fixes all of them:

[code]

There's still other problems though.

[2021-02-11 17:41] kousu commented on #42
Okay I'm going to commit it with `{}` as dummy metadata. That might still cause problems with scripts that expect to be able to get `AcquisitionTime` but at least it passes `bids-validator`.

@alexfoias can we report a bug "upstream" about this? If there's missing subjects and missing metadata in the source, they should know about that.

[2021-02-11 17:46] kousu commented on #42
Okay and problem two: the images aren't annexed, again. I can tell because git is telling me that these files are fairly large:

[code]

and if I look at the contents, I just see "binary file":

[code]

An annexed file should show up in the git log like:

[code]

Did your system lose git-annex v8 by accident again?

I can fix this by myself from here, don't worry about it.

[2021-02-11 18:14] alexfoias commented on #42
I installed git-annex on the system before the push. That's strange.

Here is my log :

[code]

[2021-02-11 18:16] alexfoias commented on #42
I also ran it from the repo:

[code]

Is this the correct way to check the git annex version of the local clone of the repo ?

[2021-02-11 22:24] kousu commented on #42
Yes, that is correct. It says "local repository version: 8" right there.

Okay I don't know what happened this time!

Anyway I've fixed it by:

[code]

Did you use `git annex add` maybe? I think that's in the process of being deprecated; anyway, I assumed it was deprecated and I'm not advising people to use it with v8.

<details><summary>log</summary>

[code]

</details>

I also used better dummy

[2021-02-11 22:25] #42 closed

[2021-02-11 22:47] kousu opened #46 "uk-biobank: invalid .tsv"
The participants index is incorrectly formatted. It has blanks where the BIDS standard wants the string "n/a":

[code]

[2021-02-11 22:50] kousu commented on #46
I can fix this with

[code]

(some subtleties: it's TSV so `FS="\t"`, it's using dos line endings so `RS="\r\n"`, and I manually counted the number of fields there should be instead of using NF)

[2021-02-11 23:00] kousu commented on #46
Oh actually, this TSV file is a mix of dos and unix line endings, and the last line is missing a line ending entirely. https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#tabular-files doesn't say anything about line endings. I'm going to force them all to unix format:

[code]

[2021-02-11 23:06] kousu opened #47 "uk-biobank: invalid authors"
[code]

This is because our dataset says

[code]

This is both wrong and it annoys `bids-validator`. Can we write "UK Biobank" in there? Maybe a URL? A DOI? We can add our own names on the end too, since we're definitely part of the provenance of this dataset now that we're bidsifying it.

[2021-02-11 23:22] jcohenadad commented on #47
indeed-- "authors" is not "neuropoly"-- it should be changed

[2021-02-12 13:21] kousu commented on #34
See #23

[2021-02-12 13:25] kousu commented on #34
The way we have to do this with `git-annex` is

[code]

Unfortunately this has to be done per-machine, so everyone needs to be taught it 🥺

I will try to document this in a way that is obvious enough. I fear that it will be easy to forget, though.

Also `git-annex` is apparently kind of buggy about this: `annex.thin` can only handle one hardlink at a time, between your file and the annex, meaning

[2021-02-13 19:25] kousu commented on #22
I removed `"create"` from the `ENABLED` list, from feedback from @joshuacnewton. That leaves only two ways to make a new repo:

1. someone ssh's into the server and makes it there directly
2. `git push`

[2021-02-13 20:07] joshuacwnewton commented on #22
Just to clarify, I suggested this because (unless I'm missing something), regular users weren't able to `ssh git@data.neuro.polymtl.ca create` anyway:

[code]

Or, was I supposed to do ` ssh git@data.neuro.polymtl.ca create datasets/<repo-name>` because that's the directory I have permissions for?

[2021-02-16 15:41] kousu commented on #19
I went to the DataLad meetup (at 9am EST every Tuesday) in https://meet.jit.si/DataLad this morning and asked about Pull Requests. The answer I got was: there is no good answer. I got some suggestions in lieu:

To fit into the ideal everyone-has-their-own-fork model that git encourages:

- take pull requests via GitHub; submitters set up [a git-lfs special-remote](https://git-annex.branchable.com/

[2021-02-16 16:01] jcohenadad commented on #19
thank you @kousu. Not great news i suppose... how about the scenario where we ask students to copy (e.g. via smb/afp on a dedicated folder on our internal duke server: duke:temp/git-annex) the files to be pushed. Then, the "git-annex castle protectors" (nick/alex/julien) will do the syncing? that way, if there is a problem, it's on us 😅

[2021-02-16 16:17] kousu commented on #19
I think that's still the best option at the moment.

[2021-02-16 16:18] kousu commented on #19
I think we should think about looking into using `git-lfs` with non-Github servers. I know it's possible to set up. It's even possible to keep the main repo on github but the LFS part on non-github servers, that would be cheaper.

[2021-02-16 16:18] kousu commented on #19
Oh but git-lfs doesn't support deletion *ever*, so maybe that's no good either.

[2021-02-25 15:49] alexfoias commented on #38
Test over VPN, mount made with AFP:

HCI:
[code]

Old duke (/temp partition):
[code]

[2021-02-25 20:07] alexfoias commented on #38
From joplin:

HCI:
[code]
Old duke (/temp partition):
[code]

[2021-02-25 20:27] alexfoias commented on #38
Test with smaller files.

[2021-03-09 15:37] jcohenadad opened #48 "clarify doc"
it took me 5min to realize that in order to get the proper doc, i needed to click on '"internal server"-- if it happened to me it will happen to other users in the lab-- so we need to change that.

[2021-03-09 15:38] jcohenadad opened #49 "add TOC in https://github.com/neuropoly/data-management/blob/master/internal-server.md"
for more convenient day-to-day usage

[2021-03-15 21:40] kousu opened #50 "Cancelling sync --content leaves tree in laggy state"
It seems that if you do:

[code]

i.e. cancel a large download, then you end up with files in the same state as

https://github.com/spine-generic/spine-generic/wiki/git-annex%3A-Troubleshooting#a-cosmetic-problem-affecting-git-status

The symptoms are:

- `git status` shows a huge number of modified files
- a second `git annex sync` hangs

The fix is the same:

[code]

[2021-03-15 21:41] kousu commented on #50
I'm going to start recording bugs that I think make git-annex unsuitable for us with this `git-annex bugs` tag.

[2021-03-16 01:00] jcohenadad opened #51 "is there a way to know the size of a git-annex folder"
e.g. `sct-testing-large` takes almost 40GB on my drive. I had to do emergency cleaning before being able to review `af/fix_karoTobiasMS`.

[2021-03-16 03:30] kousu commented on #51
You can do:

[code]

to compare the distribution of space between regular git and the annex. I haven't seen a command that can *predict* how large an annex is before downloading it.

In theory it should be possible, since each annexed file encodes its size, e.g.:

[code]

is 1755486 bytes, or 1.7MB. So if you have cloned a repo but not run `sync --content` yet in theory you can count up what you'r

[2021-03-16 15:01] jcohenadad commented on #51
git config --global annex.thin=true
which will prevent duplicating files in the annex when they are checked out -- it will use hardlinks, aka filesystem pointers, instead. But this conflicts with annex.hardlink=true which is a different, older, feature that we might want to use on processing servers to let multiple people share a repo. So I don't know.

i see more pros than cons (ie: 95% of our us

[2021-03-24 02:20] sandrinebedard opened #52 "git annex sync -- content failed on uk-biobank-processed"
## Description
I am trying to add processed images to `datasets/uk-biobank-processed`. I followed these [instructions](https://github.com/neuropoly/data-management/blob/master/internal-server.md#upload). Everything went smoothly until `git annex sync --content`.
This is the error that I got when running `git annex sync --content`:
(this is the end only, I added bellow my comlpete terminal history)

[2021-03-24 02:22] kousu commented on #52
Ceci est une très bon reportage. Je m'occupe ! Tue Mar 23 22:20:52 EDT 2021 neuropoly/data-management ***@***.***>: Description I am trying to add processed images to datasets/uk-biobank-processed. I followed these instructions. Everything went smoothly until git annex sync --content. This is the error that I got when running git annex sync --content: (this is the end only, I added bellow my comlp

[2021-03-24 03:10] kousu opened #53 "gitolite: view owner of a dataset?"
It's a bit obscure how to find the person who has access rights to a repo. Can we make this better?

[2021-03-24 03:12] kousu commented on #53
One thing would probably help: https://gitolite.com/gitolite/rc -> `OWNER_ROLENAME` lets us define a group of owners. Technically, the default owner is the creator, and I would still like to be able to see that, but `OWNER_ROLENAME` should allow someone to do:

[code]

etc

[2021-03-24 03:21] kousu commented on #53
Oh actually there's a note in that section:

What's `owns`? Do we have that?

Yes we do! It's in /usr/share/gitolite3/commands/owns and I can turn it on in ~git/.gitolite.rc

..but it's kind of useless?

[code]

It doesn't print anything, it just returns true/false *for the current user*.

[2021-03-24 03:27] kousu commented on #53
Okay so `CREATOR` is the poorly supported legacy system here and `OWNERS` is the good one. The trick is probably to auto-add the creator to OWNERS.

Can https://gitolite.com/gitolite/wild#setting-default-roles do this? That doesn't look like it can take a variable.

Maybe I should just cronjob it: each repo keeps its creator in repositories/repo.git/gl-creator, and perms in repositories/repo.git/g

[2021-03-24 03:40] kousu commented on #52
Easy fix: you lacked permission.

I fixed it with:

[code]

Thanks for the reminder. I've added that part to this section in #35:

https://github.com/neuropoly/data-management/blob/c521bc7/internal-server.md#upload
https://github.com/neuropoly/data-management/blob/c521bc7/internal-server.md#permissions

[2021-03-24 03:50] kousu commented on #49
Ah I can do this now. I found https://github.com/ekalinin/github-markdown-toc. It's not quite perfect but it works pretty well.

[2021-03-24 03:57] kousu commented on #49
https://github.com/neuropoly/data-management/pull/35/commits/d799cb3b3d8273d89e9e22cd5657e6e09031b762

[2021-03-24 04:04] #49 closed

[2021-03-24 04:16] kousu opened #54 "rolling clean of gitolite trash"
Docs for `gitolite D` say:

This is probably better than `rm`, but it's unhelpful if it never gets erased. So I think we should set up a cronjob that runs once a day but deletes all repos trashed over $n days ago.

Also maybe send an email (i.e. print to stdout) about repos in the trash at the same time -- the repos left over after the daily cleanup, that are on the chopping block for the coming w

[2021-03-24 05:30] kousu commented on #53
https://github.com/kousu/gitolite-mods/issues/11

[2021-03-24 05:33] kousu opened #55 "drop user namespaces"
I enabled [`CREATOR/..*`](https://gitolite.com/gitolite/wild#quick-introexample) so that everyone would have a local namespace of data, like on Github.

But Julien explained we don't want to keep projects on this server, just data, and in light of that I don't think there's really a use-case for these anymore. Drop them from the config and the docs.

[2021-03-24 05:49] kousu commented on #51
We should integrate this into https://github.com/neuropoly/management/issues/49

[2021-03-24 06:47] kousu opened #58 "Document `bids-validator`"
BIDS and `bids-validator` are tightly related to how we manage our data, but we don't explain or even link them at all anywhere in these docs.

I don't know where they belong but someone probably has an idea.

[2021-03-24 06:54] kousu opened #59 "Document public git-annex datasets"
i.e. migrate the info from https://github.com/spine-generic/spine-generic/wiki into here.

I've already migrated the troubleshooting page.

[2021-03-24 08:02] kousu commented on #19
I think we can get close to this workflow with `OWNER_ROLENAME` https://github.com/neuropoly/data-management/issues/53#issuecomment-805453678

I think I'd set `OWNER_ROLENAME="OWNERS";` in `gitolite.rc`, then configure the repo template as

[code]

[2021-03-24 09:15] kousu commented on #19
Actually this is what works:

[code]

[2021-03-24 09:34] kousu commented on #19
Alright this is done. It's documented at https://github.com/neuropoly/data-management/blob/master/internal-server.md#reviewing-pull-requests and permissions are enforced.

[2021-03-24 09:34] #19 closed

[2021-03-24 18:53] sandrinebedard commented on #52
Great! Thanks, I'll test it out again!

[2021-03-24 19:00] sandrinebedard commented on #52
hmm, I don't seem to have writing permission for uk-biobank-processed :

[code]

[2021-03-24 19:17] kousu commented on #52
It should be back now!

[2021-03-24 19:23] sandrinebedard commented on #52
it is back! Everything seems to work!

[2021-03-24 19:28] #52 closed

[2021-03-25 19:55] jcohenadad opened #60 "PR: `af/add_karo_lesion`"
Here is my Terminal activity: http://showterm.io/520cb08eeccf3bae8b24a

Few comments:
I followed the procedure listed here https://github.com/neuropoly/data-management/blob/master/internal-server.md#reviewing-pull-requests, but the files were not present (only the symlinks):
[code]

[2021-03-25 20:04] jcohenadad opened #61 "sub-karoXXXX and sub-karoTobiasMSXXX --> are they the same?"
### Context

We would like to train a DL model to segment lesions on the Karolinska data.

We know the data will be longitudinal, so I asked @alexfoias to put the data under a `ses-01` subfolder. See issue [here](https://github.com/ivadomed/pipeline-ms-lesion/issues/4).

### Problem

While reviewing this PR https://github.com/neuropoly/data-management/issues/60, I realized that Anne sent us segmen

[2021-03-25 23:01] charleygros commented on #61
I don't know about this, don't know what data has been sent to Anne etc.
But I'm happy to have a look, ie comparing XXXX and XXX. brb

[2021-03-26 19:45] kousu opened #62 "PR: `sb/add_650_sub`"
From @sandrinebedard:

[code]

[2021-03-26 19:48] kousu commented on #62
Okay I'm ready to give some comments!

I ran `git annex get .` and everything downloaded cleanly so that worked well.

I ran [`bids-validator`](https://github.com/bids-standard/bids-validator) and got:

[code]

`sub-1000032` was added in a previous commit, but `sub-1048812` was added by this one. Where did its metadata go? Is it possible to find it?

Otherwise this looks good.

[2021-03-26 19:53] sandrinebedard commented on #62
Was the metatdata of `sub-1048812` there in the dataset `uk-biobank`? (Normally I just copied them from there so it may be from that!)

[2021-03-26 20:00] kousu commented on #62
No, it's not: on `git@data.neuro.polymtl.ca:datasets/uk-biobank.git` the top commit has:

[code]

Okay, nevermind. We can try to fix it later!

I'll merge this now :+1:

[2021-03-26 20:07] sandrinebedard commented on #62
But isn't also empty on `uk-biobank`? As discussed here: https://github.com/neuropoly/data-management/issues/42#issuecomment-777635803
the problem here is that it is empty right?

[2021-03-26 20:12] kousu commented on #62
It is empty there too; apparently I said I was going to fix that (https://github.com/neuropoly/data-management/issues/42#issuecomment-777669252) but it looks like I either didn't or I missed this one.

[2021-03-26 20:42] kousu commented on #62
merged!

[2021-03-26 20:42] #62 closed

[2021-03-26 20:43] kousu commented on #60
I just merged #62 so please merge or rebase with `master`:

[code]

[2021-03-27 08:33] kousu commented on #60
@jcohenadad I see the files after doing `git checkout af/add_karo_lesion; git annex sync --content` so maybe the instructions are just backwards. Can you try it that way?

Thanks for using showterm. It helped me figure that out. I'm going to [make it better too](https://github.com/ConradIrwin/showterm/issues/48#issuecomment-804244096).

[2021-03-27 19:03] jcohenadad commented on #60
It solved it, thank you. Proof: http://showterm.io/65bf12a44a4d8943dd7ee

[2021-03-27 19:13] jcohenadad commented on #60
I reviewed some of the dataset and segmentations and they look good to me, so we can merge!

[2021-03-27 19:24] jcohenadad commented on #61
I checked and no, they are not the same. These are the data under karo:
[code]

karoXXXX corresponds to the 20200612_longitudinal folder. We can close

[2021-03-27 19:24] #61 closed

[2021-03-27 19:27] jcohenadad opened #63 "Add info for karoXXXX datasets"
- Add all the data from `karo/20200612_longitudinal`
- Make sure to copy the data under ses-01 and ses-02 (there are two sessions: check the XLS file). Encode the JSON file appropriately
- Populate the JSON file with relevant information (the current JSON files are empty). Check on BIDS specs what info we can enter there.
- Populate the `participants.tsv` file with the info we have (check the XLS)

[2021-04-02 18:32] #48 closed

[2021-04-02 18:32] kousu commented on #48
I did this. Reopen it if you have more improvements to suggest to the current state please.

[2021-04-02 18:33] kousu commented on #23
I think I understand these now, and my recommendation is:

[code]

I've added this to the docs.

[2021-04-02 18:33] #23 closed

[2021-04-02 18:42] kousu opened #64 "Don't recommend `git annex sync`"
`git annex sync` has a UI inconsistent with the rest of git. It is bidirectional, it creates a plethora of `synced/*` branches as a workaround for a weakness in git, and it touches all branches not just the working branch.

Some alternatives:

- `git annex sync --only-annex --content`
- explicitly push the git-annex branch:
[code]

(e.g. https://github.com/neuropoly/data-management/issues/26)

[2021-04-12 18:49] alexfoias commented on #60
@kousu did you manage to merge it ?

[2021-04-12 21:29] kousu opened #66 "`whereis` writes"
`git annex whereis` should be a read-only operation, but it's not because it *first* syncs all the git-annex branches together:

[code]

[2021-04-12 21:37] kousu opened #67 "`git-annex` in a separate branch"
* is incompatible with Github's pull request UI, because that assumes (fairly!) that all the changes for a branch are confined to one branch
* is easy to forget to upload https://github.com/spine-generic/data-multi-subject/pull/77#issuecomment-818116069
* is merged out-of-order; different repos end up with different histories in their `git-annex` branches as they sync with each other in different

[2021-04-12 21:44] kousu commented on #64
Maybe `sync` is okay, but only if we *confine* it to the `git-annex` branch. There's an option to do this:

[code]

Then uploading would become:

[code]

[2021-04-13 16:19] kousu opened #68 "Considering plain `git`"
Like #31, this is a proposal to drop `git-annex`.

What abilities does `git-annex` give us?

1. It lets us integrate with the neuroinformatics community that is trying to standardize on https://datalad.org (e.g. https://openneuro.org, https://gin.g-node.org/)
2 It allows partial dataset downlaods. I think this falls into two separate use-cases which are actually rather distinct.
    1. So that use

[2021-04-13 17:44] jcohenadad commented on #68
Thank you for opening this thread, @kousu. It clarifies very well where we are at in terms of git-annex usage. I would add to the counterargument list the many issues we've encountered with git-annex's version (v8 vs. v7 vs. v6, etc.): people not realizing that version requirement (this will happen, again and again), or not being able to download the proper version because of their distros, and th

[2021-04-13 18:51] kousu opened #69 "`git-annex` leaves marks falsely 'modified'"
I already noted this in https://github.com/neuropoly/data-management/blob/c1dc511/git-annex.md#a-cosmetic-problem-affecting-git-status

But it's more general than just that. For example, I've also seen it happen when simply switching between branches.

[code]

Maybe we should add `git status | sed -n 's/modified://p' | xargs git update-index -q --refresh` to a standard .git/hooks/ script and make

[2021-04-13 19:58] kousu opened #70 "Mirror datasets to gin.g-node.org"
https://gin.g-node.org/ is a free git-annex hosting server. We should set up automatic mirrors of our public datasets (i.e. https://github.com/spine-generic/*, maybe others to come) on it.

I bet they'll give us more generous data size limits.

Plus, we could set up our own ([they encourage this](https://gin.g-node.org/G-Node/Info/wiki/In+House)) and set our own data size limits. That would allevi

[2021-04-13 20:07] kousu commented on #68
@jcohenadad pointed out a way to mitigate point 4, about `annex.thin`. Last summer when we were trying to to keep all of our data in plain git we were telling people to just download release tarballs: https://github.com/spine-generic/data-single-subject_DO-NOT-USE#download-zip-package-recommended

It's not at all unreasonable to ask users of the datasets to download releases as tarballs. Maybe eve

[2021-04-13 20:53] kousu opened #71 "`git-annex` leaves cruft remotes around"
`git-annex` is 3 components afaict: a partial-download system, a bunch of plugins for using different kinds of URLs, and a content-tracking system on top of the two. I think the content-tracking system is a source of a lot of grief for us (e.g. #67). Another source of grief is that datasets implicitly record their paths whenever they are installed anywhere *even if only temporarily*. And then if t

[2021-04-13 20:59] kousu commented on #67
Maybe we should have everyone

[code]

That should reduce our need for the `git-annex` branch.

We do need it when we add new remotes. But that's pretty rare, that only happens with our public datasets and we (well, probably, I) can make sure to handle uploading `git-annex` in that case.

In fact, if we also avoid `git annex sync`, we'll never change the `git-annex` branch at all, I think.

[2021-04-14 16:51] kousu commented on #64
Another alternative, I think, maybe, is `remote.<remote>.annex-speculate-present`. This should skip the need for daily updates to the `git-annex` branch ( https://github.com/neuropoly/data-management/issues/67#issuecomment-819051308 ).

[2021-04-15 03:47] kousu opened #72 "`git-annex` hangs on download"
Sometimes downloading hangs for a long time

[code]

[code]

a couple seconds later, it's still doing the same thing but with a different subprocess, so probably it's processing a different file:

[code]

Interesting that `update-index` is invoked here; related to #69  ?

Rerunning the same script will produce a hang for me maybe 1 in 8 times. Just stopping it and starting it again usually has it

[2021-04-15 18:17] kousu commented on #68
note to self: unlike git-annex, git internally compresses everything in `.git/objects/` with `zlib`, and possibly more (it has something called "packfiles" which sound a lot like they are probably a .tar.gz or something), which means it is impossible to hardlink directly into that: the objects first need to be decompressed, which is what git does when you do `git checkout ...`; also, for files lik

[2021-04-15 18:26] kousu commented on #68
Maybe `git config core.bigFileThreshold 1`?

No, didn't seem to work:

[code]

[2021-04-15 18:39] kousu commented on #68
More clues in https://git-scm.com/book/en/v2/Git-Internals-Packfiles

[2021-04-15 18:57] kousu commented on #68
Oh by the way, there's `core.sparseCheckout` which looks like it might replace feature 2.ii., even for end-users. It's harder to use than 'git annex get files that i want' but I think we can assume it won't be done that often.

[2021-04-15 21:59] kousu commented on #68
I think the way to think about feature 4 is it is a tradeoff between different kinds of compression.

There's four kinds of compression involved:

- gzip, same as zlib, maybe a bit less efficient, used on our image files
- zlib, which finds common data blocks within a datafile and replaces them with a code word, and a code book at the top; or maybe it does run-length compression, used by .git/obje

[2021-04-15 21:59] kousu commented on #68
Here's a completely different approach:

instead of checking out the files, *mount* them:

* https://www.presslabs.com/docs/code/gitfs/
* https://github.com/anupcshan/fusegit
* https://github.com/taterbase/git-mount

Any of these should avoid having to physically copy anything. They probably decompress the zlib content on the fly. Maybe not so good for contributions, but for read-only like testing

[2021-04-19 18:47] alexfoias commented on #60
@kousu Not sure if you saw my previous message.

[2021-04-25 07:51] kousu commented on #60
no, sorry :cold_sweat:

<details><summary>merge log</summary>

[code]

</details>

[2021-04-25 07:51] #60 closed

[2021-05-05 00:55] mpompolas opened #73 "karoTobias files have ses-01 subfolder"
Annexed data

[code]

[2021-05-05 01:08] jcohenadad commented on #73
@mpompolas can you please elaborate? why is that an issue?

[2021-05-05 01:11] mpompolas commented on #73
I should probably have checked if ivadomed reads both folder options (with without ses-01 presence).
Doing this now

[2021-05-05 01:25] jcohenadad commented on #73
ses-01 is BIDS-compliant, so if ivadomed does not read it, the problem is on the ivadomed loader side (not the dataset)

[2021-05-11 14:36] kousu opened #74 "migrate MSSeg challenge dataset"
We are participating in the MS Lesion Segment challenge and want to be able to archive our tests and workflows. We participated in 2016 too, and now there's a 2021 edition in progress.

* 2016: https://portal.fli-iam.irisa.fr/english-msseg/
    * data: we have a copy on `duke`?
* 2021: https://portal.fli-iam.irisa.fr/msseg-2/
    * data: https://portal.fli-iam.irisa.fr/msseg-2/data/

This task is

[2021-05-11 14:41] jcohenadad commented on #74
we can be a bit flexible here, since we will work on this challenge as a team, it doesn't make sense if everyone in the team cannot access the data.

[2021-05-14 02:13] mpompolas commented on #73
all good, pybids takes care of it

[2021-05-14 02:14] #73 closed

[2021-05-15 19:14] kousu opened #75 "`git annex sync --content` silently fails on new repos"
On creating a *new* dataset, `git-annex sync` gets confused with the gitolite server. It first tries to pull down the nonexistent repo multiple times (I think to sync first `git-annex` then `master` branches), which fails of course, then it pushes to them, but does not push to the annex, despite me passing `--content`. Running the same command a second time in a row succeeds in pushing to the anne

[2021-05-15 19:34] kousu commented on #74
Got it uploaded now to git+ssh://data.neuro.polymtl.ca/datasets/msseg_challenge_2016:

[code]

Here's the script I used:

[code]

I simply tagged it as 1.0.0, but maybe that's a bad choice since this dataset is already a derivative of the upstream copy -- it's been BIDSified and resampled. I can retag it if someone has a better label in mind.

[2021-05-15 19:35] kousu commented on #74
I would like to include the 2016 terms of use in the git repo, too. But we don't have them. Do we have any idea where they might be, @charleygros, @alexfoias ?

[2021-05-15 19:40] kousu commented on #74
Oh and the next thing to do before closing this is give the 2021 dataset the same treatment. Has it been posted yet? Can someone doing the challenge grab it and drop it on `duke`? You/they could also upload it straight to `data` with the help of the script I posted above, they'll just need to contact one of us for a data account and a bit of training in `git-annex`.

[2021-05-17 00:40] charleygros commented on #74
Maybe [here](https://portal.fli-iam.irisa.fr/english-msseg/english-msseg-data/)

[2021-05-17 00:43] charleygros commented on #74
Thanks heaps @kousu ! So I downloaded the data and dropped it here on `duke`:
`duke/projects/ivadomed/LongitudinalMultipleSclerosisLesionSegmentationChallengeMiccai21.zip`
@alexfoias is working on its BIDSification, then it will be ready to go I reckon

[2021-05-18 13:37] kousu commented on #74
or this part

If that's the extent of the 2016 terms and if we count the whole lab as one party then we're compliant, except I guess we need to add the citation requirement to the README. But the 2021 terms have been redone, presumably in light of the GDPR, to clarify that that's not what they meant.

[2021-05-18 15:39] jcohenadad opened #76 "Cannot push because no space on my local drive"
The fact that git-annex stores all the data locally (without me asking for it) is quite annoying. For example, I just wanted to update a README, and did this:
[code]

But, while doing the `git annex sync --content`, it downloaded all the data and I had to stop because no more space on my HD. And now I am stuck, without being able to update a stupid README file 😢

[2021-05-18 15:46] kousu commented on #76
Try editing it on github?

[2021-05-18 19:09] jcohenadad commented on #76
can i? this is for an internal dataset **uk-biobank-processed** which takes ~100GB (!)

[2021-05-18 19:55] kousu commented on #76
No, not in that case then.

Instead, replace `git annex sync --content` with `git push`, that'll do it. You should be able to do that even with your hard drive out of space; and then you can [rm the whole thing](https://xkcd.com/1597/). In fact, you never need to actually download the data at all, you can combine `git push` with `git annex copy`, but that method is prone to pitfalls so I am hesita

[2021-05-18 21:18] jcohenadad commented on #74
@alexfoias could you please share the BIDSIfying code in this issue so we can reproduce in the future? thanks!

[2021-05-20 02:15] kousu opened #77 "Praxis Data Servers"
https://praxisinstitute.org wants to fund a data sharing platform.

They were considering paying [OBI](https://braininstitute.ca/research-data-sharing/brain-code) as a vendor, and having them set up a neuroimaging repository. But had doubts about the quality of that solution and have looked around for others, and have landed on asking us for help.

We've [proposed](https://docs.google.com/presenta

[2021-05-20 02:29] kousu commented on #77
## Packaging

We should provide an automated installer for each site to deploy the software parts. It should be as automated as possible: no more than 5 manual install steps.

We can build the packages in:

* ansible
* conda
* custom bash install scripts
* .deb

I think .deb will be the smoothest option; I have some experience using [pacur](https://github.com/pacur/pacur), and we can use their [pa

[2021-05-20 03:57] kousu commented on #77
# Cost Estimates

* 2 devs * 1 month to produce the packages: ~10k-20k $
* N*5k$ - per-site server hardware
* N*5k$ - per-site sysadmin time
* N*40k$ - per-site data curator time

Which works out to about 18 or 19 sites that Praxis can fund this year.

[2021-05-20 18:01] kousu commented on #77
I'm going to make some demos to make this more concrete.

I'm starting with NextCloud. I'm going to deploy 3 NextClouds and configure them with [federation sharing](https://docs.nextcloud.com/server/latest/admin_manual/configuration_files/federated_cloud_sharing_configuration.html).

## Hardware

The first thing to do is to get some hardware. Vultr.com has cheap VPSes. I bought three of them in Ca

[2021-05-20 18:58] alexfoias commented on #74
I started the PR here: https://github.com/ivadomed/ms-challenge-2021/pull/6

Should I change the repo ?

[2021-05-20 19:06] jcohenadad commented on #74
no it's fine for now, as your script is specific to the MS challenge dataset.

[2021-05-21 15:20] alexfoias commented on #76
@kousu I have a similar issue: I modified the `participants.tsv` for sct-testing-large. When trying to push in a branch the `git annex sync --content` downloads everything. Is there a way of bypassing it ? The modification of the file is linked to https://github.com/ivadomed/ivadomed/issues/796, so it cannot be done manually because we are talking about a lot on entries.

[2021-05-21 21:11] kousu commented on #76
Yes of course, just use `git push`.

[2021-05-23 21:51] kousu commented on #77
mailer needs: `sudo ufw allow 25/tcp`. This must be an upgrade on Vultr's end since the last time I set up servers.

[2021-05-25 19:33] kousu opened #78 "Investigate DVC"
As an alternative to: #68, [`dvc`](https://dvc.org/doc/use-cases/versioning-data-and-model-files) ([suggested here](https://github.com/ivadomed/ivadomed/issues/801#issuecomment-847494689)) is meant to address reproducible science workflows.

We need to get hands-on with it to understand what it does and doesn't cover.

[2021-05-25 19:40] kousu commented on #78
So far, my impression is it's largely an alternative to [`datalad`](https://datalad.org/).

Both are built on git, both have a [`run`](https://dvc.org/doc/command-reference/run) [command](http://handbook.datalad.org/en/latest/basics/101-108-run.html). Both have the basics of a dataflow programming system: [`dvc repro`](https://dvc.org/doc/command-reference/repro) and [`datalad rerun`](http://docs.

[2021-05-27 18:51] jcohenadad commented on #51
@kousu should i run this command in a git annex repos?
[code]

[2021-05-27 19:01] kousu commented on #51
No `=`:

`git config --global annex.thin true`

[2021-05-27 19:30] kousu commented on #51
I've already made a custom gitolite command in https://github.com/kousu/gitolite-mods/; we can add one that just runs `du -s` for each repo. It won't be totally accurate but it'll be good enough? It'll require some custom code though.

[2021-05-27 19:31] jcohenadad commented on #51
could we consider a script that would run as root (but that could be launched by neuropoly users), which would get the size of each repos and report it on the user's terminal?

[2021-05-27 19:35] kousu commented on #51
It won't take long but I'm not going to shift gears into perl to write it right now. Getting it right could be fiddly too.

Alternately: this is another motivation for #68. `git` can't tell you in advance of downloading but it can tell you as it downloads, which is almost as good.

[2021-05-27 19:51] jcohenadad commented on #51
yes indeed. Can we start a prototype with a dataset, and see if we are happy with it?

[2021-05-28 02:21] jcohenadad commented on #51
@kousu I followed instructions to use `git config --global annex.thin true`, but still ended up with a folder double the size:

On my laptop after doing this:
[code]

On duke (non-git annexed dataset):
[code]

So, the dataset on my local laptop is double the size.

Note: I'm a bit confused with the use of "du". On my local folder, when I use `-sh` I get only 5.5G
[code]
However I _know_ this is wr

[2021-05-28 07:00] kousu commented on #51
@jcohenadad the GUI app probably doesn't understand hardlinks. If you run `du -s -l` I bet it will report the same numbers (`-l` disables the counter's hardlink deduplication). Similarly, if you were to look at `df` or at Disk Utility before and after you would see you're only using 5GB.

I'm not sure what the problem with the `smb://duke` copy is; *I* see only one time the size:

[code]

And it d

[2021-05-28 07:09] kousu commented on #51
Oh hang on, is this an accurate mac manpage: https://ss64.com/osx/du.html. It says

and doesn't give a `-l` to turn it off.

There's another way to check: pick a file and run `stat`; you'll see it has "Links: 2":

[code]

And you can find the two hardlinks with this:

[code]

(I think the OS X slang of that command is `find . -inum "$(stat -F '%i' sub-01016SACH/anat/sub-01016SACH_ce-T1w.nii.gz)"`)

[2021-05-28 13:53] jcohenadad commented on #51
small precision: I am using AFP.

[2021-05-28 14:01] jcohenadad commented on #51
hum, looks like the `stat` on macOs is different:
[code]

[code]

[2021-05-28 14:53] kousu commented on #51
Hey @jcohenadad please try this:

`98410205` is the inode pointer.

[2021-05-28 14:55] kousu commented on #51
And using AFP is probably the source of the weirdness you saw with duke. AFP probably doesn't transit hardlinks. I'm a little shocked SMB does!

[2021-05-28 15:08] kousu commented on #74
The 2021 dataset got uploaded yesterday and the BIDS scripts along with them!

[2021-05-28 15:08] hermancollin commented on #51
@jcohenadad it could actually be simpler than this for the doubling problem

the `du` command shows disk usage in block size (which is related to the filesystem used) when `-h` option is *not* specified. My guess is that your device's blocksize is 512 (or half a KB). this could explain why `du -s` gives 43640816 half kilobytes, or 21820408 kilobytes which gives 21G with `-h` flag

[2021-05-28 15:41] joshuacwnewton commented on #51
This sounds like the most reasonable explanation to me. Also, to verify, you could compare `du -sB 1024` and `du -sh` (to explicitly set a blocksize of 1KB).

[2021-05-28 16:20] kousu commented on #74
Wait, pas encore fini! The dataset is missing the terms of use!

Someone needs to:

[code]

@alexfoias ? @charleygros ?

[2021-05-28 16:20] kousu commented on #74
(or I could do it but I don't want to step on your toes if you're working heavily on this dataset right now)

[2021-05-28 16:30] jcohenadad commented on #74
ah, we can simply use git for that?

[2021-05-28 16:33] jcohenadad commented on #74
I've added it, can you please verify it is properly uploaded? thanks 😊

[2021-05-28 16:39] jcohenadad commented on #74
@kousu can you please check if this ugly .DS_Store is only on my local station, and not on the git-annex repository?
[code]

And if it is, i suggest we add this to the documentation so people with a mac won't upload these ugly files:
[code]

[2021-05-28 16:59] kousu commented on #74
@jcohenadad

[code]

@alexfoias thought ahead and put:

[code]
to prevent that.

Okay I think this is good now!

[2021-05-28 16:59] #74 closed

[2021-05-28 17:02] jcohenadad commented on #51
Unfortunately "-B" does not work in macOs:
[code]

Thank you for your insights @hermancollin ! It looks like both my local git-annexed and the one on duke (ie: "true" size) have the same size, meaning that the `annex.thin true` trick worked 🎉:
[code]

But then, I'm not sure why my app is giving me 11.8 GB:
![image](https://user-images.githubusercontent.com/2482071/120018241-e57b1780-bfb4-11eb-88c9

[2021-05-28 17:04] jcohenadad commented on #51
Update on the graph above: what's strange is that both the .git and sub-* folders give me "data of non-negligible size":
![Screen Shot 2021-05-28 at 1 03 18 PM](https://user-images.githubusercontent.com/2482071/120018475-3428b180-bfb5-11eb-9f9b-3693ccdb057d.png)
![Screen Shot 2021-05-28 at 1 03 07 PM](https://user-images.githubusercontent.com/2482071/120018479-3559de80-bfb5-11eb-9d9d-08e0060f3d1d.

[2021-05-28 17:07] kousu commented on #51
I think your app doesn't understand hardlinks. It's counting each folder by summing up the filesizes. To deal with hardlinks to compute actual disk space used you need to keep a table of inode pointers.

What does Finder say about it?

[2021-05-28 17:13] kousu commented on #51
A file is an array of bytes scattered over a disk.
An inode is the metadata containing the pointers to the bytes.
An inode *number* is the pointer to the inode itself.
A file on disk is a pathname that points to the inode *number*.

A **hardlink** is simply a second file with the same pointer in it; every file that points to the same inode *number* is the same file.

[2021-05-28 17:16] kousu commented on #51
And this is what `annex.thin` enables (though it's very poorly documented IMO): it creates hardlinks *between the checkout folder ./* and the files in .git/annex/.

[2021-05-28 17:48] joshuacwnewton commented on #51
Ah, I see. It looks like you want to use `-k` then on macOS. From the [manpage](https://ss64.com/osx/du.html):

[code]

[2021-05-28 18:57] jcohenadad commented on #51
Ah! Finder says 5.68GB, so consistent with `du` 👇
![Screen Shot 2021-05-28 at 2 54 10 PM](https://user-images.githubusercontent.com/2482071/120029890-b5d40b80-bfc4-11eb-9b54-622c5f33bc93.png)

I don't know how to use `df` for a folder only (and no time to try to remove/add it back).

ah! thanks, here you go:
[code]

thank you all for your insights! TIL

[2021-05-28 19:09] joshuacwnewton commented on #51
Thanks for asking all of your questions! I had no idea `du` behaved differently between OSs. We're all learning. :smile:

[2021-05-28 20:44] kousu commented on #51
Indeed. Try it next time if you're still unsure. do `df .; git annex get; df .`.

[2021-05-29 14:47] kousu commented on #77
Alternatives:

* zfs
    * we're not [the only ones](https://gist.github.com/CMCDragonkai/1a4860671145b295fe7a4d8bc3968e87) to have this thought
    * pros:
        * solid codebase
        * Copy-on-Write log-structured thing
    * cons:
        * probably not good for data sharing; multiple users can't share a dataset? or if they can
        * requires connecting to the host server to set the ve

[2021-05-30 01:47] jcohenadad commented on #77
requires connecting to the host server to set the version, using CLI tools

I'm not sure I understand that. For example, in the context of NeuroPoly's internal data (which are currently versioned/distributed with git-annex), would it be considered "one user sharing a dataset"? And if so, would ZFS be limited for this specific use-case?

[2021-05-30 16:50] kousu commented on #77
My (weak) understanding is that with zfs you have to do:

* `git commit` = `sudo zfs snapshot $ZFS_ROOT/$VERSION`
* `git checkout` = `sudo mount -t zfs $ZFS_ROOT/$VERSION $PATH`

So actually, yes, a single zfs instance can be shared with multiple users, so long as everyone has a) direct ssh access to the data server b) `sudo` rights on that data server.

Alternately, an admin (i.e. you or me or Al

[2021-05-30 17:42] kousu commented on #77
Although there is this: on Linux, you can [do 'checkout' without mounting like this](https://askubuntu.com/a/561715):

[code]

You still need `sudo` to make a commit; probably to make any change at all. But I guess we could make this work if the goal is just reproducibility?

[2021-05-31 20:20] alexfoias opened #80 "BIDSification wakehealth dataset"
Based on https://docs.google.com/presentation/d/1ynFNrMKE7C6eAKYw_Yt0qjocwjkmMSGwM6GVgkCtkIQ/edit?usp=sharing

[2021-06-01 13:27] alexfoias opened #81 "Possible rosenberg git annex issue"
@charleygros tried to clone **msseg_challenge_2021** on `nvme` on `rosenberg`. He got this message:

[code]

@kousu Could you please help him debug the issue?

[2021-06-01 18:18] kousu opened #83 "Renaming internal repos"
According to https://gitolite.com/gitolite/basic-admin.html#removingrenaming-a-repo you need to have ssh access to `data` in order to rename repos. I can see why they did this, for security and everything, but this is a little unfortunate.

Look into gitolite's wildrepo feature, optional [commands](https://gitolite.com/gitolite/non-core.html#gitolite-commands) and figure out if any of them allow r

[2021-06-01 18:20] kousu commented on #83
For the record, the current way to do this is

[code]

Maybe I should at least add that to the docs in the meantime?

[2021-06-01 18:49] alexfoias commented on #83
tested the command from above and they worked.

[2021-06-01 18:57] kousu commented on #81
@charleygros, I believe you're working in conda already? [Just do](https://github.com/neuropoly/data-management/blob/master/git-annex.md#download) `conda install git-annex` in the same env as ivadomed and then you can get on with your work.

Diagnosis: this is a solved problem, except that I need to do https://github.com/neuropoly/computers/issues/81 to make rosenberg uniform with the rest of our

[2021-06-02 01:21] charleygros commented on #81
Weeee! THanks @kousu, it fixes my issue!

Just so you know, I had to run the following:
[code]

[2021-06-04 15:37] alexfoias opened #85 "Add additional data karo (lesion-manual) sct-testing-large"
We have received more segmented lesions from Anne for karo data.

We want to find which files are unique in order not to overwrite the files in sct-testing-large.

Tested fdupes: http://showterm.io/aed2544641cd410d50b2c but didn't work well.

Tested diff: http://showterm.io/7b36140732479a6966827 and it works well, but hard to implement in python.

Tried :

[code]
 And got this:
[code]

So far `dif

[2021-06-04 16:10] kousu commented on #85
The python version can be written shorter as `diff -r` btw. (`diff -r` is great; I use it all the time). But it's only good for comparing two diverged copies of the same directory. `fdupes` is more general, and can handle finding duplicates no matter what they are named or what folder they are in. Is this in the simpler `diff -r` case or not?

I think, if you are in the `diff -r` case, meaning tha

[2021-06-04 16:58] kousu commented on #85
If you're in the more complicated `fdupes` case, you just need to script a little bit. In that case you're trying to compute the set difference `Segmentations_karo_AK_curated/ \ sct-testing-large/`, based on file hashes. You can do it with this:

[code]

`-f` suppresses the first match in each matchset and `-i` makes sure that that means `sct-testing-large/` (see [the docs](https://github.com/adri

[2021-06-04 17:25] #81 closed

[2021-06-04 18:50] kousu opened #86 "`ssh git@data.neuro.polymtl.ca pr`"
Write a gitolite extension to implement pull requests for the private data server.

We can't use `git send-email` because we don't have a mailing list, and anyway the bulk of our data are large binaries in `.git/annex` which don't email well :P. So right now "PRs" are someone pinging me or @alexfoias on Slack, or maybe opening an issue in this repo and tagging us there.

[2021-06-04 19:03] kousu commented on #86
Related work:

* radicle: https://docs.radicle.xyz/docs/understanding-radicle/faq/#how-will-issues-and-prs-work
    * huh, funny, i thought they had PRs working? maybe I saw an alpha version of PRs complete with comments, but maybe they've backed out of them
    * planning to have a CLI-based PR workflow
* Gogs: https://gogs.io/ - clone of github
    * web-based PR workflow
* multiverse: https://w

[2021-06-04 19:07] kousu commented on #51
Back to the original question, here's a better way @alexfoias thought up with me to track dataset size: write a netdata collector to run `du` on each git repo like I prototyped for `smb://duke` (https://github.com/neuropoly/computers/issues/8#issuecomment-795728672). The UI then is just looking at https://monitor.neuro.polymtl.ca/host/data.neuro.polymtl.ca/ -- there will be a set of charts in ther

[2021-06-04 19:48] jcohenadad commented on #86
Wow, the examples listed in https://github.com/neuropoly/data-management/issues/86#issuecomment-854941206 are really cool! if we could have such interface that would be wonderful. Otherwise we can just use our current private neuropoly/data_management hosted on github.

[2021-06-04 19:54] kousu commented on #86
Here's a sketch of the UI:

[code]

With my [ssh tip](https://github.com/neuropoly/neuropoly-docs/pull/8) you can shorten this to e.g.

[code]

[2021-06-04 19:56] kousu opened #87 "CI"
A big missing feature is the lack of automatic dataset checking.

We have to manually do PRs (https://github.com/neuropoly/data-management/issues/86) and we have to manually do verification. We don't have any way to do this:

https://github.com/spine-generic/data-multi-subject/blob/master/.github/workflows/validator.yml

Implement this somehow.

[2021-06-04 20:05] kousu commented on #87
We can set up a git hook to run on commit, but what should it run, and where should it report its results? We don't have a CI server; we don't have a web UI; we could run the CI on `data` itself, but it's a relatively underpowered machine without enough space to check out.

The datasets are stored in bare repos, so we definitely would need to check them out, meaning copying 50GB+ every time for ev

[2021-06-04 20:12] kousu commented on #87
This overlaps with https://github.com/neuropoly/data-management/issues/32. That is about running a cronjob to do low-level integrity checking on the git repos, unrelated to users' interaction with them; this is about running a script on commits to a branch; however but this could also mean running a cronjob, e.g. to run `bids-validator` once a day on `master`. Most CI systems support both kinds of

[2021-06-04 20:39] kousu commented on #22
This is in production now and has been for a while.

[2021-06-04 20:39] #22 closed

[2021-06-08 14:23] alexfoias opened #88 "BIDS histology git-annex repo documentation update"
I wanted to create the dataset for https://github.com/neuropoly/data-management/pull/82, but I didn't push with the **.tif** files in git annex because of the definition in .gitattributes https://github.com/neuropoly/data-management/blob/master/git-annex.md#new-repo.

Log here:
http://showterm.io/16c72d05b6a5249757a89

[2021-06-08 14:53] alexfoias commented on #63
@jcohenadad Do you want me to take care of this ?

[2021-06-08 14:58] alexfoias opened #90 "BIDSification basel-mp2rage"
Data located on `duke/temp/jcohen/basel-mp2rage`

@jcohenadad What name should we give to the dataset ?

[2021-06-08 15:06] jcohenadad commented on #90
let's go with `basel-mp2rage`

[2021-06-08 15:28] #80 closed

[2021-06-08 16:39] #88 closed

[2021-06-08 17:20] kousu commented on #85
Hey @alexfoias, we talked on slack about just letting `git` tell you what the duplicate files were. Did that work out for you?

[2021-06-08 17:21] kousu commented on #85
Also is this related to https://github.com/ivadomed/ivadomed/issues/65 ? It seems like the same problem.

[2021-06-08 18:36] kousu commented on #90
I see

[code]

Those

[code]

lines are unfortunate. https://github.com/neuropoly/data-management/pull/79 hasn't been merged yet so this got forgotten. :anger:

sorry, that's on me. You approved that I just didn't click the button.

[2021-06-08 18:40] kousu commented on #90
All the files are there :+1:

[code]

[2021-06-08 18:40] kousu commented on #90
bids-validator has a complaint :tomato:
[code]

[2021-06-08 18:54] jcohenadad commented on #90
@alexfoias did you verify BIDS compliance and proper spelling for MP2RAGE acquisitions? IIRC they cover that sequence

[2021-06-08 19:05] alexfoias commented on #90
Yes, I got it from here: https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#anatomy-imaging-data

[2021-06-09 15:28] sandrinebedard opened #93 "PR: add extra derivatives to spine-generic-processed"
## Description
I added automatic spinal cord segmentations that were manually QC-ed on the branch `sb/add_auto_sc_seg` to the derivatives of  `datasets/spine-generic-processed` .

[2021-06-09 20:55] sandrinebedard commented on #93
@kousu if could take a look, thanks!

[2021-06-15 18:12] kousu commented on #93
The upload looks okay to me, all the files are there, etc. However `bids-validator` has some opinions:

[code]

I don't think all (or even any?) of these were caused by your branch; I'll double-check in a moment.

[2021-06-15 18:20] alexfoias opened #94 "Accidental data erase on duke"
@kousu Accidentaly erased some files from duke when trying to cleanup his grames home folder on a server.

Checked the log on  [duke/logs/Backup-15-06-2021_01-00-36.log](https://pastebin.com/1Wst72AN) and the missing files are listed there.

@jsdecarie Recovered the data from sct_testing from backup.

@alexfoias Investigated the differences between the backup restore (`duke/sct_testing`) and the o

[2021-06-15 18:30] alexfoias commented on #94
The restore seemed to recovered the missing files. @kousu @jcohenadad I think we can go ahead and drop the `duke/sct_testing_old`.

[2021-06-15 18:42] kousu commented on #93
I'm going to get @jcohenadad's second opinion on this in our 1-on-1 today.

[2021-06-15 19:00] sandrinebedard commented on #93
No I don't think any of them are about the derivatives I added in the branch! But I think that when we created the dataset, we didn't run Bids validator, so we still could address that.

From what I see,

[code]
Some of those files should just not be there and should be deleted, maybe we could compare with [spine-generic/data-multi-subject](https://github.com/spine-generic/data-multi-subject) to c

[2021-06-15 19:08] kousu commented on #93
Okay! I think this is probably good to merge this then!

[2021-06-15 19:34] jcohenadad opened #95 "Remove dataset: msseg_challenge_2021_DO-NOT-USE"

[2021-06-15 19:40] jcohenadad commented on #93
@alexfoias can you pls inform how to ignore a bunch of files not passing the validator

@kousu @sandrinebedard indeed, this spine-generic BIDS data are not passing the new qMRI rules anymore, this is something we need to update at some point-- @alexfoias can you pls open an issue on the spine-generic repos (or find if already opened)

[2021-06-15 19:42] kousu commented on #94
Related: https://github.com/neuropoly/computers/issues/124

[2021-06-16 01:51] #94 closed

[2021-06-16 02:03] kousu commented on #93
Alright it's merged! Thanks @sandrinebedard. Sorry for the wait!

[upload-log.txt](https://github.com/neuropoly/data-management/files/6659708/upload-log.txt)

[2021-06-16 04:43] #93 closed

[2021-06-22 17:58] kousu commented on #51
Only tangentially related but interesting: Github, by comparison, *also can't tell you how big a repo is*. Their API [includes a "size" field](https://docs.github.com/en/rest/reference/repos#get-a-repository-readme) but it's wrong because:

There seem to be bugs? https://stackoverflow.com/questions/8646517/how-can-i-see-the-size-of-a-github-repository-before-cloning-it

And a 'fork' means `git clo

[2021-06-24 16:39] kousu commented on #27
I've done this. This is the current `gitolite.conf`:

[code]

This means OWNERS take care of doing merges to `master`, WRITERS can just make branches.

[2021-06-24 16:42] kousu commented on #27
This seems to be functioning, since @hermancollin ran into it today and had to ask me what to do, so I am going to close this :)

[2021-06-24 16:42] #27 closed

[2021-06-24 16:44] hermancollin opened #96 "Add final batch of images to wakehealth dataset"
Ok so what I did was re-run the [curate_wakehealth.py](https://github.com/neuropoly/data-management/blob/master/scripts/curate_wakehealth.py) script on the entire raw data (plus the 15 new imgs). I then copied this folder's content into my local branch (which *may* have modified all the old images... I'm not sure actually). The remote branch with the changes is `ac/add_last_batch`.

[2021-06-24 17:14] kousu commented on #96
Great! Thanks for tagging me. I'll log my review process now.

[2021-06-24 17:17] kousu commented on #96
# Baseline

I've never looked at this dataset myself, so I'll start by making sure `master` looks alright.

<details><summary>Get a local copy :heavy_check_mark: </summary>

[code]

</details>

Make sure I'm on the right branch :heavy_check_mark:

[code]

[2021-06-24 17:20] kousu commented on #96
<details><summary>bids-validator ❌</summary>

[code]

(output too long for github): [bids-validator.txt](https://github.com/neuropoly/data-management/files/6711029/bids-validator.txt)
</details>

and make sure all the files seem to exist on the server:

<details><summary>git annex whereis (master) :pineapple: </summary>

[code]

</details>

Check for the current baseline of the history :heavy_chec

[2021-06-24 17:20] kousu commented on #96
So, right off the bat, this dataset has several problems:

- ❌ the naming scheme is wrong
- :pineapple: somehow @armo's name is on the annex, but @alexfoias is on the commits. I have no idea how that could have happened.
- ❌ it is missing this commit: https://github.com/neuropoly/data-management/commit/a552642598c16be7ad9c76d374cbf9bf5109716e

[2021-06-24 17:29] kousu commented on #36
The empty .json files should probably be replaced by `{}`. It's still missing data, but it'll pass `bids-validator` and is less likely to crash other tools that assume .json files are parseable as JSON.

[2021-06-24 17:34] hermancollin commented on #96
Should we restart from scratch? The curating script doesn't take a lot of time to execute

[2021-06-24 18:29] kousu commented on #96
@hermancollin

## Branch `ac/add_last_batch`

<details><summary>switch to ac/add_last_batch :heavy_check_mark:</summary>

[code]

</details>

Take a look at the overview of the patch:

<details><summary>git log --stat master..ac/add_last_batch</summary>

[code]

</details>

The 0 line-changes are weird. I investigated closer and saw:

<details><summary>git log -p</summary>

[code]

</details>

Che

[2021-06-24 18:45] kousu commented on #87
Some useful one-liners:

Verify we remembered to upload the annex:

[code]

Compare the contents of participants.tsv (this version **only handles additions** not removals):

[code]

[2021-06-24 20:52] kousu commented on #96
@hermancollin one last question: what is samples.tsv? Why is that not just part of participants.tsv?

[2021-06-25 15:51] hermancollin commented on #96
@kousu tbh I'm not sure this looks like some BIDS requirement. From what I understand, *participants.tsv* contains the list of all subjects while *samples.tsv* is a table that tells us which samples were taken from a specific subject. In the case of this dataset, it seems like it doesn't add much info tho.

[2021-06-25 17:50] hermancollin commented on #96
@kousu ok from what I see with your output for `git log --stat master..ac/add_last_batch` in commit 765ffa I added the new files at 15:38:11. Then, at 15:38:53 (40 seconds later) the weird commit happens with all these mode changes. Maybe this is because I used `git annex sync --content`? I feel like it does an automatic commit

[2021-06-25 17:55] hermancollin commented on #96
Also I don't understand where the `synced/something` branches came from:
[code]

[2021-06-25 18:53] jcohenadad commented on #77
It looks like we are going towards a centralized solution. In brief:
- each participating site will curate their data into BIDS and send anonymized data to the centralized server
- a mechanism will need to be put in place for participating sites to push data (and centralized server to review what is pushed).
- a web interface (eg like a portal) will display the available datasets with instructions

[2021-06-26 01:22] kousu commented on #64
Again: https://github.com/spine-generic/data-multi-subject/issues/93

[2021-06-26 01:25] kousu commented on #96
:facepalm:
It's a bug I know about: https://github.com/neuropoly/data-management/issues/64#issue-849396413
I really don't like that git-annex does that.

Yes, that command does do an automatic commit. And yes that is a problem.

I canf fix up the branch for you.

[2021-06-26 01:25] kousu commented on #64
And again https://github.com/neuropoly/data-management/issues/96#issuecomment-868734099

[2021-06-26 17:12] kousu commented on #96
The chmod glitch is tangled up in both your and Alex's branches. I think this is probably because you both uploaded this dataset *from `duke`*. Is that true?

`duke` is mounted over smb://, which is a Windows protocol that does not understand the Unix +x bit. Instead, every file is currently mounted with it **enabled**. For example:

<details>

[code]

</details>

I have two workarounds:

- I can

[2021-06-26 17:14] kousu commented on #96
Here's what the patch looks like now:

[code]

Do you know why sub-21125 and sub-21130 were edited, @hermancollin? Was that on purpose?

[2021-06-26 19:33] kousu commented on #96
We figured it out together: the curation script runs over all the data, and for some reason it was non-deterministic with sub-21125 and sub-21130: if you look very carefully at the git-annex SHA256 hashes:

<details>

[code]

</details>

you can tell that these permutations happened:

* sub-21125 rotated chunk-3 => chunk-4, chunk-4 => chunk-5, chunk-5 => chunk-3
* sub-21130 swapped chunk-3 <=> chu

[2021-06-26 19:40] kousu commented on #96
:heavy_check_mark:

[code]

Here's the final PR:

[code]

And I'll merge it now; note that this merge includes my `ng/chmod` branch (https://github.com/neuropoly/data-management/issues/96#issuecomment-869031618) too, because I didn't take the time to merge it separately yet:

<details>

[code]
nguenther@data:~/datasets/wakehealth$ git log
commit 18816e0d6d8ffeaa18b1a8d2ee7ad5317afe532d (HEAD -> ma

[2021-06-26 19:41] #96 closed

[2021-06-28 18:04] sandrinebedard opened #98 "PR: add extra derivatives to `uk-biobank-processed`"
## Description
I modified 202 segmentations (seg-manual) and added 16 labels (labels-manual) on the branch `sb/add_extra_seg_labels` to the derivatives of `datasets/uk-biobank-processed`.

[2021-06-28 21:12] kousu commented on #98
This dataset is quite large already!

<details><summary>Commit message and overview of contents :heavy_check_mark: </summary>

[code]

</details>

<details><summary>Are all the annexed files uploaded? :heavy_check_mark: </summary>

[code]

</details>

<details><summary>What's in the sidecars? ❌</summary>

[code]
</details>

Ah, the sidecars have Windows line endings in them (the `^M`s). I can take

[2021-06-28 21:20] kousu commented on #98
<details><summary>Using dos2unix</summary>

[code]

</details>

I think this touched a few more files than just those on this branch, so I'll leave it as a separate commit instead of squashing.

[2021-06-28 21:21] kousu commented on #98
And merging:

[code]

[2021-06-28 21:21] #98 closed

[2021-06-28 21:37] sandrinebedard commented on #98
maybe there is a way to specify the end of lines when [creating the json sidecar](https://github.com/sct-pipeline/ukbiobank-spinalcord-csa/blob/43c1833cafb8fd9ba20c0a1523619776c572b976/pipeline_ukbiobank/cli/manual_correction.py#L143-L153)
since it is already created automatically!

[2021-06-28 21:40] kousu commented on #98
Oh I see. Hm.

https://stackoverflow.com/a/23434608/2898673 says the solution is to add `, newline='\n'`. Seems kind of awkward though.

Official docs: https://docs.python.org/3/library/functions.html#open-newline-parameter

[2021-06-28 21:41] kousu commented on #98
The other solution is to set

[code]

[2021-06-28 21:45] sandrinebedard commented on #98
Great thanks! I'll test that out on my `joplin`session and we'll see next time I push json sidecars!

[2021-07-07 15:59] kousu commented on #77
It's **Demo day**:

We have been allocated an account on https://arbutus.cloud.computecanada.ca/. Docs at https://docs.computecanada.ca/wiki/Cloud_Quick_Start.

I'm going to install GIN on it: https://gin.g-node.org/G-Node/Info/wiki/In+House

Let's see how fast I can do this.

[2021-07-07 16:18] kousu commented on #77
0. [x] auth: log in with username/pass at https://arbutus.cloud.computecanada.ca/
1. [x] auth: `xclip -selection clipboard ~/.ssh/id_ed25519.neuropoly.pub` and paste into https://arbutus.cloud.computecanada.ca/project/key_pairs -> Import Public Key; repeat for @jcohenadad's key from [ansible](https://github.com/neuropoly/computers/blob/47c9d2e0a65410a39e4d0ff490391bf1deafe061/ansible/group_vars/al

[2021-07-07 16:39] kousu commented on #77
It seems like it just hung? I deleted and remade the instance with

Name = praxx
Availability Zone = any (the docs said I shouldn't have changed this)
Source =  Ubuntu-20.04.2-Focal-x64-2021-05
flavor = 	p2-3gb
everything else at defaults

I still can't get in though:

[code]

Oh I see what the problem is:

drat.

But I...added my rsa key? And it's still not working?

[code]

hm.

The system log (

[2021-07-07 16:41] kousu commented on #77
Delete and recreate with

[code]

It only allows you to init with a single keypair! Ah.

[2021-07-07 16:42] kousu commented on #77
Got in:

[code]

[2021-07-07 16:54] kousu commented on #77
1. [x] basic system updates:
[code]
2. [x] auth (again):

[code]

test: root@

[code]

ubuntu@

[code]

3. [x] finish updates: `ubuntu@praxis-gin:~$ sudo reboot`

4. [ ] Log back in
5.
6. [x] Install *docker*, since that's how GIN is packaged:

[code]

Test:

[code]

[2021-07-07 17:02] kousu commented on #77
Start following https://gin.g-node.org/G-Node/Info/wiki/In+House:

1. [ ] Install `ubuntu@praxis-gin:~$ docker pull gnode/gin-web:live`
2. [ ] firewall again: GIN wants port 3000 and 2222 open, so: https://arbutus.cloud.computecanada.ca/project/security_groups -> Manage -> Add rules for 3000 and 2222 ingress
![2021-07-07-125804_1663x100_scrot](https://user-images.githubusercontent.com/987487/12479

[2021-07-07 18:38] kousu commented on #77
Lets see if I can mirror our public dataset.

First, download it to my laptop (but not all of it, it's still pretty large; I ^C'd out of it):

<details>

[code]

</details>

Okay, now, make a repo on the new server: https://data1.praxis.kousu.ca/repo/create ->

![Screenshot 2021-07-07 at 14-02-05 Gogs](https://user-images.githubusercontent.com/987487/124807599-f0b65100-df2b-11eb-86e7-4063c7ed4510.

[2021-07-07 19:00] kousu commented on #77
## the port 2222 problem

Using a non-standard ssh port is a problem. I know of four solutions:

1.

[code]

or

[code]

Each user uses this each time they use the server.

2. ssh_config

Each users adds this one-time to each new machine, at the same time as they provide their ssh key.

[code]

3. Use a separate IP address

ComputeCanada lets us allocate multiple IP addresses per machine. The insc

[2021-07-07 19:00] kousu commented on #77
Demo day went well by the way. https://praxisinstitute.org/ seems happy to investigate this direction.

[2021-07-07 19:19] kousu commented on #77
Shortcuts taken that should be corrected:

- I didn't deploy the `dehydrated` cronjobs to renew certs
- I didn't deploy `unattended-upgrades` to keep the system up to date
- I haven't tested it docker will survive a reboot
- I told it the wrong hostname (it knows itself as localhost and by its IP address, not by data1.praxis.kousu.ca)

[2021-07-12 13:47] alexfoias opened #100 "Curate duplicated files on duke"
We receive a report from duke on duplicated files.

The report is in csv format.

Here is a snippet example:
![Screen Shot 2021-07-12 at 9 46 35 AM](https://user-images.githubusercontent.com/12564433/125298397-152c7780-e2f6-11eb-94ff-681197a17cca.png)

The idea is to curate the csv and address each item.

[2021-07-12 19:41] alexfoias opened #101 "Add .gitignore for datasets/wakehealth"
We already pushed .DS_Store data on the repo.

[2021-07-14 20:01] alexfoias opened #102 "BIDSification `data_axondeepseg_tem`"
More info here: https://docs.google.com/presentation/d/1wI84Wt7tgTvbyopsHu0HwOAtgbk6eb8R5PJ7lB3awP8/edit#slide=id.ge2f19a181e_0_63

[2021-07-14 20:03] alexfoias commented on #102
@mariehbourget Do we have to add it to internal git server ? If so, what name should we give it ?

[2021-07-14 20:04] mariehbourget commented on #102
Yes, on git-annex for now. The name is `data_axondeepseg_tem`. Thanks!

[2021-07-19 14:45] #102 closed

[2021-07-19 15:16] alexfoias commented on #101
@kousu I have pushed the fixes here: `datasets/wakehealth` on the branch`af/add_gitignore`.

Do you mind taking a look ? thanks

[2021-07-20 14:11] sandrinebedard opened #106 "PR: add PMJ manual labels in derivatives of `uk-biobank-processed`"
## Description
This PR adds manual PMJ labels in the derivatives of `uk-biobank-processed` on the branch `sb/add-pmj-manual-label`.

[2021-07-20 17:55] kousu opened #107 "Download uk biobank dataset"
Our download access to https://biobank.ctsu.ox.ac.uk/ is ended in August 2021. We need to archive as much as possible to our internal servers before this is done.

Their download docs are https://biobank.ctsu.ox.ac.uk/~bbdatan/Accessing_UKB_data_v2.3.pdf. We have a license keyfile on `smb://duke/<TODO>`

They have three programs (because they invented their own API, what I want to avoid for #77) t

[2021-07-20 18:57] jcohenadad commented on #107
I talked with Pierre Bellec yesterday, we might have additional options for temporary hosting:
- at the UNF ZFS server (>50TB available for us)
- on compute canada tape storage (~200TB available)
  - that option would require us to have write permission (easy to obtain)

[2021-07-20 19:41] kousu commented on #107
I am unsure how the tape storage works, but looking around their docs https://docs.computecanada.ca/wiki/Using_nearline_storage explains that all their servers have a mountpoint `/nearline` which is a large disk that's backed by nightly archives to tape. I'd have to get in and see how it actually looks, but hopefully it is relatively simple to use.

They want us to store *large* files there, which

[2021-07-21 15:52] kousu commented on #106
Hey this is merged. Thanks for your work!

[2021-07-21 15:52] #106 closed

[2021-07-21 19:41] alexfoias opened #108 "Add sub-user0018 to sct-testing-large"
See email _Date: Mon, Jul 19, 2021 at 4:44 PM Subject: Sample SC data from our Prisma scanner_

I have pushed the data on `sct-testing-large` branch `af/add_sub-user0018`

Here is the log:

<details>

[code]

</details>

[2021-07-21 19:42] alexfoias commented on #108
@kousu @jcohenadad Could one of you please review the branch ? thanks

[2021-07-21 19:46] alexfoias opened #109 "Create dataset `sci-zurich`"
Linked to https://github.com/sct-pipeline/sci-lesion-segmentation/issues/1

[2021-07-21 19:58] alexfoias commented on #109
I have added the data on `dataset/sci-zurich`

Log here: http://showterm.io/1218c52ad894217e9aa8c

@kousu or @jcohenadad Could you please review it ? thanks

[2021-07-22 14:10] jcohenadad commented on #109
i assume you directly pushed to the main branch? i'm looking at it now

[2021-07-22 14:11] alexfoias commented on #109
yes, the main branch because the repo is new. thanks

[2021-07-22 14:15] jcohenadad commented on #109
data looks good! thank you @alexfoias 💯

[2021-07-22 14:15] #109 closed

[2021-07-22 14:18] jcohenadad commented on #109
@alexfoias in the future, please add more context in the README. I'll take care of it for this one

[2021-07-22 15:35] jcohenadad opened #110 "Find a better naming to distinguish histology from MRI data"
Currently, the list looks like this:
[code]

It would probably be a good idea to at least find a way to distinguish MRI from HISTO data more conveniently.

[2021-07-25 18:09] sandrinebedard opened #111 "PR: add manual segmentations in the derivatives of `spine-generic-processed`"
## Description
This PR adds 676 manual segmentations in the derivatives of `spine-generic-processed`on the branch  `sb/add-manual-seg`.

[2021-07-28 14:53] alexfoias commented on #108
@kousu Could you please check the data ? thanks

[2021-07-30 15:29] alexfoias commented on #38
@kousu @taowa could you please try to see if you have WR permissions on duke/histology in order do more testing on the volume?

[2021-07-30 15:31] taowa commented on #38
Just checked- I have access to it through my membership in neuropoly_admin.

Taowa

[2021-07-30 15:35] alexfoias commented on #38
Great news. @kousu Listed above some options. I think we need to put in place a script/procedure to properly compare the WR speed on `duke`.

We need to test the WR difference between:
`duke/temp` (this share point is on a physical volume on `duke`)
`duke/histology` (this share point is on a HCI volume that is mounted on `duke`)

[2021-07-30 20:25] jcohenadad opened #112 "How to add a 2nd device?"
I need to get data on `abbey`, and i am already listed as a used in our internal git server, so i follows the instructions in the [doc](https://github.com/neuropoly/data-management/blob/master/internal-server.md#add-extra-devices) and did this:
- on `abbey`, I ran: `ssh-keygen`
- on my laptop, I ran: `ssh git@data.neuro.polymtl.ca keys add abbey.neuro.polymtl.ca`, and got the following error:
[cod

[2021-08-03 20:03] sandrinebedard commented on #111
Hey @kousu, when you have a bit of time if you could take a look! Should be pretty straight forward 🙂  thanks!

[2021-08-06 19:21] #90 closed

[2021-08-11 05:22] kousu commented on #111
* there were some `.DS_Store` accidental commits; I've gotten rid of them.
* the commit messages are slightly inaccurate: by my count, there's 674 additions, and 41 edits. I have squashed and change the commit message to match.
* `derivatives/labels/sub-amu04/anat/sub-amu04_acq-T1w_MTS_seg-manual.nii.gz` was missing its `.json` sidecar. I took a guess and copied the contents from `derivatives/labe

[2021-08-11 05:22] #111 closed

[2021-08-11 13:36] sandrinebedard commented on #111
thanks you!

[2021-08-11 17:31] alexfoias commented on #107
@kousu did you manage to check the downloaded files on CC ?

[2021-08-11 18:01] alexfoias commented on #108
@kousu Pinging you again

[2021-08-11 19:38] alexfoias commented on #101
@kousu Could you please check the files ? thanks

[2021-09-05 21:57] sandrinebedard opened #114 "PR: add derivatives to `uk-biobank-processed`"
## Description
This PR adds manual segmentations, PMJ labels and disc labeling to the derivatives of `uk-biobank-processed`. It also renames disc derivatives from `_labels-manual` to `_labels-disc-manual`.

The branch is `sb/add-extra-derivatives`

@kousu I also wanted to add a release tag to the dataset after we merge this PR, not sure how to do that with git annex!

[2021-09-07 16:12] kousu commented on #68
Pinning this for later: it's possible, and not even that hard, to write alternate git backends, e.g. https://github.com/anishathalye/git-remote-dropbox/blob/01b630ab697d9b9423915e88e43dd24072e0d591/git_remote_dropbox/helper.py#L92 adds `dropbox://` to `git`, so you can `git clone dropbox://my-repos/project1`.

We could probably exploit this if we wanted to, say, retrofit [annex's S3 remote](https:

[2021-09-09 16:11] kousu opened #115 "Import dataset from Dropbox"
@jcohenadad requests:

[2021-09-09 16:16] kousu commented on #115
I think the most direct way to do this is to use `rclone`: https://rclone.org/dropbox/. We can install that on one of our servers -- even directly on `data.neuro.polymtl.ca`, it's got 34G free on its /home right now so there's enough space to work with this dataset directly -- then download it with rclone and annex it.

rclone supports OAuth, and that page explains how to use it from the CLI: @jco

[2021-09-10 02:44] jcohenadad commented on #115
Amazing! Could we do it together next time we speak?

[2021-09-15 17:38] kousu commented on #107
over here: https://github.com/neuropoly/data-management/pull/105#issuecomment-898637991

[2021-09-17 16:02] alexfoias opened #116 "Typo in sct-testing-large sub-gmChallenge00X"
Typo in sct-testing-large/sub-gmChallange00X --> sub-gmChallenge00X

[2021-09-17 16:32] jcohenadad opened #118 "doc about download / update"
here: https://github.com/neuropoly/data-management/blob/master/internal-server.md#download, can we consider:
- mentioning that some datasets are SUPER big and that ppl might not want to run these commands (or they should check the size before doing so-- with instruction how to do it)
- describing procedure to _only_ download part of the dataset  (eg git annex get sub-blabla*.*)
- adding a section

[2021-09-17 19:56] kousu commented on #118
1. `git` tells you how large a download will be as it goes; however `git-annex` doesn't have an easy way to do the same, though it does keep size information around. We would have to write and package a small script that people could run *after* clone but *before*. Alternatively, we could get an estimate by adding another custom chart to [netdata](https://monitor.neuro.polymtl.ca/host/data.neuro.p

[2021-09-17 20:48] jcohenadad opened #120 "Separate histology from mri datasets"
Let's make parent directories that replace the "datasets/" parent directory"

`mri`:
 R W	datasets/basel-mp2rage
 R W	datasets/data-single-subject_DO-NOT-USE
 R W	datasets/model_seg_exvivo_gm-wm_t2_unet2d-multichannel-softseg
 R W	datasets/msseg_challenge_2016
 R W	datasets/msseg_challenge_2021
 R W	datasets/msseg_challenge_2021_DO-NOT-USE
 R W	datasets/sci-zurich
 R W	datasets/sct-testing-large

[2021-09-17 20:51] jcohenadad commented on #115
We should create one BIDS dataset for each of the 4 shared datasets.
The naming should be:
- `umass-ms-ge-excite1.5`
- `umass-ms-ge-hdxt1.5`
- `umass-ms-ge-pioneer3`
- `umass-ms-siemens-espree1.5`

[2021-09-17 21:05] jcohenadad opened #121 "consider updating documentation for configuring git annex for adding histology data"
currently, it only considers "tif" files-- we should add all the extensions that are compatible with BEP31 that @mariehbourget is working on;

@mariehbourget could you please list all the acceptable files for the BIDS microscopy standard?

[2021-09-17 21:17] mariehbourget commented on #121
The accepted file extensions for image data are:
`.png`
`.tif`
`.ome.tif`
`.ome.btf`

Reference "photos" can also be present in the dataset in:
`.jpg`
`.png`
`.tif`

And other BIDS files:
`README`
`CHANGES`
`LICENSE`
`.tsv` files
`.json` files

[2021-09-19 23:15] kousu commented on #115
Done

[code]

The `dataset_description.json` and `CHANGES` files are wrong but this is probably good enough for now.

[2021-09-19 23:15] #115 closed

[2021-09-19 23:17] kousu commented on #115
To the future: sorry for not writing down what Julien and I did together. We basically just followed https://rclone.org/dropbox/ and then ran `rclone copy --progress ....`

[2021-09-19 23:37] jcohenadad opened #122 "Update README for Umass data"
fix that: https://github.com/neuropoly/data-management/issues/115#issuecomment-922553317

[2021-09-21 17:48] mariehbourget opened #123 "Issue with data_axondeepseg_tem "seg-axon-manual" files"
I downloaded the dataset `data_axondeepseg_tem` from git annex using these instructions: https://github.com/neuropoly/data-management/blob/master/internal-server.md#download

All the files in the folders `derivatives/sub-nyuMouseXX/` ending with `_seg-axon-manual.png` are 1Kb and give me this error message when trying to open them:
![image](https://user-images.githubusercontent.com/54086142/134221

[2021-09-22 17:51] kousu opened #124 "verify sct_testing vs sct_testing_old"
We have two copies of smb://duke.neuro.polymtl.ca/sct_testing. How far have they diverged?

[2021-09-22 17:53] kousu commented on #124
[code]

Login as my unprivileged user for safety and make a `dtach` session to work in:

[code]

Inside of the `dtach` session:

[code]

I will upload `sct_testing.patch` when it's done.

[2021-09-22 18:24] kousu commented on #124
Anything that reads

is a problem, but if we only have things that are

that means that `sct_testing` is a superset of `sct_testing_old`, and it is safe to delete `sct_testing_old`.

Similarly, if there's any files with internal diffs, any `+` lines on the `sct_testing_old` side are problems, but if there's only `+` lines on the `sct_testing` side, or `+-` pairs of lines, we should be good to dele

[2021-09-23 19:15] mariehbourget commented on #123
@kousu, @alexfoias, I would need some help with the `data_axondeepseg_tem` on git-annex server. Thanks!

[2021-09-23 19:28] kousu commented on #123
@mariehbourget it sounds to me like the `git annex get .` step failed. Can you try it again and send some screenshots? That should help me diagnose it! Thanks.

[2021-09-23 20:17] mariehbourget commented on #123
I cloned and downloaded the dataset again from scratch.
All checksum seems ok (terminal output below)
So maybe an error when the dataset was first uploaded?

<details>
<summary> git annex get . terminal output </summary>

[code]
</details>

All the image files in the folders `derivatives/sub-nyuMouseXX/` ending with `_seg-axon-manual.png` are 1Kb but they should be around ~50-100Kb like the others

[2021-09-23 21:00] kousu commented on #123
T'as raison. Something very strange is going on here.

Most of the .png files are fine, but some are not:

[code]

It seems to be limited to the "seg-axon-manual" files:

[code]

moreover their contents are all the same:

[code]

[2021-09-23 21:04] kousu commented on #123
These files were copied in via

https://github.com/neuropoly/data-management/blob/32a30d1ce4c4d6d8f4d0505f86e40695d8274e98/scripts/curate_data_axondeepseg_tem.py#L15

and

https://github.com/neuropoly/data-management/blob/32a30d1ce4c4d6d8f4d0505f86e40695d8274e98/scripts/curate_data_axondeepseg_tem.py#L72-L76

so they must have been broken in the source dataset too.

[2021-09-23 21:24] mariehbourget commented on #123
`0.00236` I recognize this value! (I should have check the content in text before, sorry about that).
This is the content of a file called `pixel_size_in_micrometers.txt` that are present in our ADS dataset but not in the BIDS one. Thanks, I'll check what is happening in the uncurated dataset.

[2021-09-23 21:28] kousu commented on #123
Yes I think that's right. I am looking at the uncurated dataset, which I believe is `~/duke/projects/axondeepseg/20210708_default_datasets_mask_curation/TEM_dataset`: it seems that every subject has a `pixel_size_in_micrometers` containing that value (forgive them all being run together, they are missing `\n`s):

[code]

[2021-09-23 21:30] kousu commented on #123
But why did that file end up in the "seg-axon-manual" files? I reviewed the curation script and that bug didn't jump out at me. I just reread it and I still don't see what's going on.

The source dataset seems to contain the correct segmentations, though, at least, so we should be able to repair it:

[code]

[2021-09-23 21:36] mariehbourget commented on #123
That is indeed the uncurated dataset.
There is one more image which is in another folder, see comment here in the original PR: https://github.com/neuropoly/data-management/pull/103#issue-944829263

Same for me, I don't see how that could happen with the script!

Yes, I checked a few and they seem OK.

[2021-09-24 00:45] kousu commented on #123
I wonder if maybe all the files got mixed up: maybe the segmentations are the masks and the masks are the myelin and the myelin are the segmentations? If we re-run the curation script *into* the git repo we can

a. see if it causes any diffs
b. if it doesn't, hunt down the bug, fix it, and re-run it to cause those diffs

[2021-09-24 13:49] mariehbourget commented on #123
Good point, I checked a few other files. From what I see, there are no mixup for the other segmentations, "seg-axonmyelin-manual" and "seg-myelin-manual" are correct.

[2021-09-24 15:44] alexfoias commented on #123
I discussed with @kousu about the issue. I will do some investigations this afternoon.

[2021-09-24 15:45] kousu commented on #124
The diff is short enough that I can just paste it here:

[code]

Luckily, the *only* changes are new files added to the new copy, except for `/.DS_Store` which is junk and doesn't matter. So yes we can delete `sct_testing_old`.

[2021-09-24 15:45] #124 closed

[2021-09-26 23:20] kousu commented on #121
I think this is a fine goal and adding `{".tif", ".ome.tif", ".ome.btf"}` to the annexed filetypes seems fine to me, but I wonder if in such a dataset there is ever a use for a *non* annexed .jpg or .png file? Say, a diagram embedded in the README? Because those are much more common filetypes I don't want to make a universal ruling on them. A dataset that definitely *only* has histology .pngs.

Ma

[2021-09-26 23:22] kousu commented on #114
Hi! I am just going back through my inbox and saw this now. I'll look over it.

[2021-09-26 23:23] kousu commented on #110
Duplicate of #120

[2021-09-26 23:23] #110 closed

[2021-09-26 23:25] kousu commented on #112
from https://github.com/neuropoly/data-management/blob/master/internal-server.md#add-extra-devices you should be saying `keys add @abbey`; the error here is because the periods aren't allowed, either.

[2021-09-26 23:59] kousu commented on #114
@sandrinebedard many files appear modified to me, instead of being additions. For example, `derivatives/labels/sub-1141548/anat/sub-1141548_T1w_pmj-manual.nii.gz`, with a corresponding change in its timestamp:

[code]

and in `derivatives/labels/sub-1095748/anat/sub-1095748_T1w_labels-manual.nii.gz` you appear to have replaced Etienne's work with your own:

[code]

Was this on purpose or did these

[2021-09-27 00:00] kousu commented on #114
This is easy! Same as regular git: just `git tag v1.0.0 && git push --tags origin`

[2021-09-27 01:05] sandrinebedard commented on #114
Yes the modified files are on purpose, when checking the results, I found some extra manual corrections to be done on some that were already done, that's why!

[2021-09-27 14:29] kousu opened #126 ""release" `uk-biobank-processed`"
From @sandrinebedard https://github.com/neuropoly/data-management/issues/114#issue-988607164

[2021-09-27 14:30] kousu commented on #114
Alright it's merged. I squashed and rewrote your commit messages to be like this:

[code]

Next you want to make a `tag`? Let's do that here: https://github.com/neuropoly/data-management/issues/126

[2021-09-27 14:30] #114 closed

[2021-09-27 14:30] kousu commented on #126
This is relatively straightforward, we just need to agree on what to call the tag first. Once we do that I can walk you through doing this @sandrinebedard :)

[2021-09-27 18:43] alexfoias commented on #116
@kousu @kousu Fixed on branch `af/fix_sub-gmChallenge`. Do you mind to review the branch and merge ? thanks.

[2021-09-27 20:16] alexfoias commented on #123
Fixed in `af/fix_der`.

@kousu or @mariehbourget would you me able to check if the problem is still there?

[2021-09-27 22:37] sandrinebedard commented on #114
Great thanks! and yes I want to make a tag!

[2021-09-28 13:28] sandrinebedard commented on #126
Great! So this is the fisrt release of the dataset, mainly, we now have all the segmentations, vertebral labelings and PMJ labels for T1w data used for my project https://github.com/sct-pipeline/ukbiobank-spinalcord-csa

[2021-09-28 17:19] kousu opened #128 "Document "releasing""
Add a section to https://github.com/neuropoly/data-management/blob/master/internal-server.md to explain how to tag a dataset with a version number and optional release notes (as we'll do in #126).

On github, we always do releases with the web UI; the skill of doing a release from the command line, which you must use for `gitolite`, is a bit obscure and worth writing down.

[2021-09-28 18:11] kousu commented on #126
We opened up https://git-scm.com/book/en/v2/Git-Basics-Tagging as a reference.

We looked through

* https://github.com/spinalcordtoolbox/spinalcordtoolbox/releases
* https://github.com/spine-generic/data-single-subject/releases - r+`date`
* https://github.com/spine-generic/data-multi-subject/releases - r+`date`
* https://github.com/ivadomed/ivadomed/releases/ - "v"+semver
* https://github.com/axo

[2021-09-28 18:15] kousu opened #129 "`gitolite releases`"
Github has these nice release summaries: https://github.com/spinalcordtoolbox/optic_models/releases

Can we create the same for `gitolite`? It would be somewhat redundant since the interface to "releases" (i.e. git tags) is already straightforward on the command line. It would be the difference between

[code]

and

[code]

but the advantage of the latter is you could look through releases without

[2021-09-28 18:23] #126 closed

[2021-09-28 19:32] jcohenadad commented on #129
Maybe consider contacting the gitoline folks with that question (ie: do they already have that feature or planning to develop it?)

[2021-09-28 19:32] kousu commented on #129
reminder: gitolite contact point is gitolite@googlegroups.com

[2021-09-28 20:06] #128 closed

[2021-09-29 15:23] alexfoias opened #131 "Cleanup `duke/projects`"
Here is a list of all folders:

[code]
I suggest moving all the folders before 2020 to `duke/archives`.

@jcohenadad @kousu What do you think ?

[2021-09-29 16:03] jcohenadad commented on #131
no: some projects are still active and should not be considered "archived"

[2021-09-29 22:17] charleygros commented on #131
`/Volumes/projects/ivadomed` is active :-) thank you

[2021-09-30 21:41] mariehbourget commented on #123
I checked the branch and all files look good. Thank you @alexfoias!

[2021-10-03 02:55] sandrinebedard opened #132 "PR: add softsegs to `spine-generic-processed`"
According to what was discussd [here](https://github.com/sct-pipeline/contrast-agnostic-softseg-spinalcord/issues/10) I added the artificially generated soft segmentations with a README to the branch `sb/add_softsegs` in `spine_generic_processed`.

Here is an example of the structure:

[code]

@kousu can you take a look?
Thanks

[2021-10-04 15:13] joshuacwnewton opened #133 "Non-integer labels present in some subjects in `sct-testing-large`"
Yesterday, I came across the following subject:

[code]

The expected label values should be 3.0 and 6.0.

SCT has encountered this issue in another context, and my guess is that the root cause is the same:

   * https://github.com/spinalcordtoolbox/spinalcordtoolbox/issues/3232

[2021-10-04 15:16] jcohenadad commented on #133
thank you so much for looking into this @joshuacwnewton !! this is much needed

[2021-10-05 01:09] joshuacwnewton commented on #133
Good news: The only subjects affected by the scaling issues are the `sub-uclCiccarelliXXX` subjects -- all 39 subjects have identical `3.0000457763671875 5.999999998603016` values.

However, 2 additional subjects (`sub-unfSCT017` and `sub-user0014`) have non-integer labels (`3.0` and `3.0 6.0` respectively), compared to their counterparts which have `3` and `3 6` labels.

Given that, I would want

[2021-10-05 01:50] joshuacwnewton opened #134 "Provide metadata to distinguish between `labels-disc-manual.nii.gz` files"
A dataset such as `sct-testing-large` contains manual disc label files named:

[code]

However, the contents of these files can vary:

* Some have just the C2/C3 disc label (`label_val==3`).
* Some have the C2/C3 disc label plus another label (e.g. `label_val==6`).
* Most, however, start at the C2/C3 disc and can have anywhere from 5-24 disc labels.
* A few _don't_ start at the C2/C3 disc:
    * S

[2021-10-05 16:21] joshuacwnewton commented on #134
To address the issue, I've written a [small starter script](https://github.com/neuropoly/data-management/files/7282188/analyse-label-files.sh.txt) that will generate a CSV file to provide some of this metadata.

Here is some [sample output](https://docs.google.com/spreadsheets/d/1x55cSnamLbd0574Isx0OY85gQllBHQFU-qwNyM1Ds10/edit?usp=sharing) for `sct-testing-large`. I was able to then use this spre

[2021-10-06 15:05] jcohenadad commented on #131
also, i see 2019/atlas_human but it should be under 2017

pls be careful with the dates...

[2021-10-06 17:09] kousu commented on #123
I checked out the source dataset that's mentioned in

https://github.com/neuropoly/data-management/blob/8025bd78deb2d70922f9e5691537d7ba1e6635df/scripts/curate_data_axondeepseg_tem.py#L156

With that I was able to compare

* `/mnt/joplin/mnt/duke/histology/mouse/20160718_nyu_mouse/20160718_nyu_mouse_26/20160718_nyu_mouse_26_0004/20160718_nyu_mouse_26_0004.tif`
* `mnt/duke/projects/axondeepseg/raw_

[2021-10-06 17:21] kousu commented on #123
I took a look at the rest of the data and it seems clear: 3762x2286 is the size we want:

<details>

[code]

</details>

I propose: we do:

[code]

Objections?

Once that's done #127 will cleanly reproduce the curated dataset.

[2021-10-06 17:56] kousu commented on #123
Thanks for chiming in @mariehbourget; two questions:

#1: Wouldn't it have been simpler to correct `mask.png` to have the same dimensions as everything else? It's the only such mask:

<details>

[code]
</details>

#2: If we do keep the mismatched size, can we copy it back into `/mnt/duke/projects/axondeepseg/20210708_default_datasets_mask_curation/TEM_dataset/` at least? I am attemtping to make th

[2021-10-06 18:11] mariehbourget commented on #123
In general, it is easier/faster to remove lines from an image file rather then adding them. This is was we decided to do on this specific case. The size of the images between them are not very important, as long as each corresponding image and mask are the same.

Yes sure, that is a good point, you can copy `data_test` in `TEM_dataset` as `20160718_nyu_mouse_26_0004`, no problem.

[2021-10-09 01:46] kousu opened #135 "`data_axondeepseg_tem`: fuzzy masks"
In working on #123 I've discovered that some of the `axonmyelin` masks have fuzzy values. *Most* of them only consist of `[0, 128, 255]` (i.e. black, grey, white, a.k.a. background, myelin, axon) labels, but for a few the source data was fuzzy somehow and came out wrong. `sub-nyuMouse15_sample-0005_TEM_seg-axonmyelin-manual.png` is particularly bad:

[code]

<details><summary>verify3.py</summary>

[2021-10-09 01:51] kousu commented on #135
Tagging @mariehbourget and @alexfoias. Mes excuses à toutes pour cette decouverte inattendu :crying_cat_face:

[2021-10-09 02:25] kousu commented on #135
Here's what I mean, the really egregious sample, (15, 5), has halos in `sub-nyuMouse15_sample-0005_TEM_seg-axonmyelin-manual.png`:

![Screenshot from 2021-10-08 22-24-10](https://user-images.githubusercontent.com/987487/136640706-0414de40-bef9-4942-867a-26bbe978350c.png)

and these halos were *retained* and made much more obvious in the corresponding `sub-nyuMouse15_sample-0005_TEM_seg-axon-manual

[2021-10-09 04:29] #123 closed

[2021-10-10 19:14] kousu commented on #68
The trick above has a performance problem, explored in https://stackoverflow.com/questions/600079/how-do-i-clone-a-subdirectory-only-of-a-git-repository/52269934#52269934, https://github.com/isaacs/github/issues/1888: it successfully does a partial download, but it doesn't batch the objects it does download, instead making a new connection for each one:

[code]

(full [log.txt](https://github.com/

[2021-10-10 20:55] kousu commented on #68
Before I forget: the difference between `sparse-checkout` and `--filter` is:

* "sparseness" refers to the working directory
* `--filter` refers to `.git/objects/`; it controls what is downloaded by default

but they are related: `--filter` causes objects to be downloaded only if EITHER

a. they match the filter (and with `--filter=blob:none` this means nothing)
b. they are _needed for the current

[2021-10-11 01:03] kousu commented on #68
Ah what's this, on 2.25:

[code]

2.25's manpage doesn't document `clone --sparse`, but it looks like it's trying to do it, but just..failing? Maybe there's a way to get it to work afterall.

I dug into the code between 2.25 and the version that works [and found](https://github.com/git/git/compare/v2.25.5..v2.27.0/#diff-8190d6712bdc7cec4b6656cacb537918b2ccf332944afd5250ba29b2f587d085L1131)

[code]

[2021-10-11 03:00] kousu opened #136 "Integrating `git` into training scripts"
There's about a hundred tools for tracking scientific data in processing pipelines.

* datalad recommends [`git submodule`](http://handbook.datalad.org/en/latest/basics/101-127-yoda.html): your analysis/processing script needs to be under git, with its dependencies also tracked under git (and their version needs you to have `datalad` installed)
* `dvc` has [`dvc add [--to-remote]`](https://dvc.org

[2021-10-11 03:25] kousu commented on #136
But the first

[2021-10-11 04:35] kousu opened #137 "`git-annex` doesn't understand `git restore`"
To reproduce:

1. git clone ...
2. git annex get ...
3. edit multiple annexed files
4. `git restore path/to/one/of/them.nii.gz`
5. `cat path/to/one/of/them.nii.gz`; it will contain the *annex pointer* instead of the content

as far as I can tell, there's no way to convince git-annex to put the file back. It must be an incompatibility between the newish v8 default-smudge-everything rule and the als

[2021-10-13 15:14] mariehbourget opened #138 "Unable to switch branch on git-annex repo"
I have an issue when trying to switch branch in a git-annex repo for reviewing PRs.

After cloning and running the `git annex get .` command and after all files are downloaded, I get this repeated error and I have to kill the process (Ctrl+C) to go back to the prompt.
[code]
Then if I try to `checkout` another branch, I get:

[code]

I assume it is because of the previously "killed" process.
If I

[2021-10-14 14:03] jcohenadad commented on #136
as always, thank you for the thorough investigations @kousu.

i like https://github.com/neuropoly/data-management/issues/136#issuecomment-941575717. I guess it does not solve the issue you raised [earlier](https://github.com/neuropoly/data-management/issues/136#issuecomment-939648518) about the error thrown if the folder already exists, but given this is not all embedded into an opaque script, peo

[2021-10-14 18:32] mariehbourget commented on #138
I already try that a couple of times in the last few weeks, with branch reviews for corrections on the tem dataset.
So each time I renamed the "corrupted" dataset and re-clone/download from scratch.
The same "corrupted" behavior happens every time when I try to switch branch i.e. if I run `git annex get .` once, the local repo is stuck on the branch as described above.

[2021-10-14 18:50] kousu commented on #138
I wasn't able to reproduce this on _Linux_:

<details>

[code]

</details>

Are you working on a Mac? And what version of `git-annex` do you have? This is a working version:

[code]

[2021-10-14 19:28] mariehbourget commented on #138
I am on Ubuntu 20.04 in WSL1.

Same version for `git-annex` and `git`. Slightly different for OS..

[code]

I will probably use `rosenberg` in the near future, so I'll test there as well and keep you posted.
Question: I will need another key for that, right?

[2021-10-28 18:21] alexfoias opened #140 "Add derivatives to `datasets/sci-colorado`"
I have added the derivatives on the branch `af/add_derivatives`.

@jcohenadad or @kousu Could you of you please review the branch and merging ?

Also I have renamed it  (sci-colorado) when I initially pushed the repo but it still shows up with the old name from  `git annex whereis` with the name `git@data.neuro.polymtl.ca:~/repositories/datasets/sci-lesion-segmentation.git`. @kousu Could you pleas

[2021-10-28 18:25] kousu opened #141 "Migrate this repo's content and shut it down"
The .md files in this repo should migrate to https://github.com/neuropoly/neuropoly-internal-docs/. The `scripts/*` should be attached to their [under `code/*` in each dataset](https://bids-specification.readthedocs.io/en/stable/03-modality-agnostic-files.html#code) (and ideally we should make a habit of making sure our curation scripts are written to handle being run *from* `code/`). The wiki sho

[2021-11-02 15:08] joshuacwnewton opened #144 "Data arrays of `grenobleOfsep` subjects have top/bottom halves stacked side-by-side in LR axis"
Notice how the cursor changes in LR axis:

From https://github.com/spinalcordtoolbox/spinalcordtoolbox/issues/3556#issuecomment-956349410:

[2021-11-02 15:22] joshuacwnewton commented on #141
I've spent a couple of minutes adding some tags that might help filter this repo a little better, but... I'm not sure how useful this actually is now that I've done it. :sweat_smile:

[2021-11-02 16:02] jcohenadad commented on #144
One way to fix this is by digital surgery:
1. `sct_crop_image` --> produce two NIfTI files (one for the top part, one for the bottom part)
2. `sct_image -concat` --> concatenate the two NIfTI files

One thing to look out for also is the output qform/sform: we want it to be _consistent_ with the other images in the series (if there are some?); one test is to overlay two images (eg T1w and T2w) and

[2021-11-03 02:46] kousu opened #145 "`spine-generic-processed`: explain modalities in README"
The current README says

The dataset includes more than just T1w, T2w, T2* or dwi, it also includes files marked `acq-{{T1w,MT{off,on}}_MTS`. What are these?

Maybe it would help if these were explained briefly in the README, along with the other modalities too. Is modality the right word for all of these?

[2021-11-03 02:50] kousu commented on #145
I found:

* `T1w`, `T2w`, `T2starw` - https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#anatomy-imaging-data
* `acq` - https://bids-specification.readthedocs.io/en/stable/99-appendices/09-entities.html#acq

Linking to these pages would almost be enough, but they don't explain what `MTon` or `MToff` or `_MTS` mean. [This](https://

[2021-11-03 02:53] kousu opened #146 "`T2star` -> `T2star{w,map}`"
`T2star` has already [been deprecated](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#deprecated-suffixes). It's supposed to be either `T2starw` or `T2starmap`.

I don't understand what the difference is but anyway none of our datasets are current compliant, so we should go through and fix them up.

This should be fixable with

[2021-11-03 14:21] jcohenadad commented on #146
just to clarify what the difference is between the two:
- T2starmap refers to the relaxation (ie: intrinsic quantitative value, which represents the transverse relaxation and the background gradients)
- T2starw equals `S*exp(-t/T2starmap)`

[Here](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2799958/) is a comprehensive and accessible article

[2021-11-03 14:22] jcohenadad commented on #145
these are magnetization transfer data-- indeed, the README should include these

[2021-11-04 13:23] joshuacwnewton commented on #145
Further reading: https://radiopaedia.org/articles/magnetisation-transfer-1

SCT also has tutorials that use MT images, if you're curious about [what they can be used for in practice](https://spinalcordtoolbox.com/user_section/tutorials/registration-to-template/mtr-computation/computing-mtr.html). (MTon/MToff are equivalent to the MT1/MT0 convention SCT uses).

----

I googled `"_MTS" site:site:htt

[2021-11-04 15:34] sandrinebedard commented on #145
ok, I will modify the README!

[2021-11-04 15:38] kousu commented on #145
Thanks Sandrine!

[2021-11-04 15:42] kousu opened #147 "`spine-generic-processed`: `-MT{on,off}` -> `_mt-{on,off}`"
According to https://bids-specification.readthedocs.io/en/latest/99-appendices/10-file-collections.html#magnetic-resonance-imaging, the naming format is

[code]

Notice how it says to use `_mt-<on|off>`.

Meanwhile we have

[code]

i.e. `-MT<on|off>`. So we're not compliant here.

[2021-11-04 15:43] kousu commented on #147
I bet our other datasets have the same problem!

[2021-11-04 15:44] jcohenadad commented on #147
yup! they definitely do

[2021-11-04 19:53] kousu opened #148 "Publish histology data"
Our wiki last year had histology data at http://www.neuro.polymtl.ca/histology.php and http://www.neuro.polymtl.ca/histology_sem.php. We need to re-home it and update the wiki links to it ( https://github.com/neuropoly/neuropoly-docs/issues/15#issuecomment-961351071 )

We could:

* make a new github org https://github.com/neuropoly-histology/ (like https://github.com/spine-generic)
* use [https://

[2021-11-04 19:57] jcohenadad commented on #148
thank you for catching that. thankfully this is low priority

[2021-11-04 19:58] kousu commented on #148
I think data.neuropoly.org is the nicest option, once @taowa (and I?) get it in production.

[2021-11-05 13:59] sandrinebedard commented on #145
@kousu I've updated the README on the branch `sb/update_readme`

It is now:

[2021-11-07 22:21] kousu opened #149 "dataverse"
https://dataverse.scholarsportal.info/ - notable for us just because it's a **canadian**-hosted academic data hoster. Seems to offer pretty liberal amounts of storage ([e.g. multi-gig 3d point clouds](https://dataverse.scholarsportal.info/dataset.xhtml?persistentId=doi:10.5683/SP3/LV5TK8) in a single dataset).

[2021-11-07 22:22] kousu commented on #149
datalad was intrigued in writing a git-annex backend for it: https://github.com/datalad/datalad/issues/393. They haven't gotten around to it though.

[2021-11-09 14:46] kousu opened #150 "data management journal club"
https://github.com/matthew-brett/czi-nibabel got a grant to make a new neuroimaging data format. Or maybe just spec out existing ones.

They were thinking about HDF5 but have [discovered reservations](https://cyrille.rossant.net/moving-away-hdf5/).

They are organizing a journal club to talk about it, initially this [paper on ASDF](https://doi.org/10.1016/j.ascom.2015.06.004)

We should get involv

[2021-11-09 14:59] kousu commented on #150
Well, I know I have an immediate comment to make at Journal Club. That first paper's abstract says

YAML has a lot of its own problems: it has extendable types but they're only really extendable when combined with python+pickle, which brings code-injection vulnerabilities along for the ride. It's easy to break a multiline string without noticing (we did this last year and [silently broke our CI](h

[2021-11-10 21:15] kousu opened #151 "Document user deletion"
https://github.com/neuropoly/data-management/blob/master/internal-server.md doesn't explain how to delete users.

This is needed for https://github.com/neuropoly/onboarding/issues/20

[2021-11-10 21:16] kousu commented on #151
The answer is:

[code]

but that just needs to be written up properly and I need to double check that that handles wiping sub-keys too.

[2021-11-15 16:49] mariehbourget opened #152 "Upload `data_axondeepseg_bf_source` and `data_axondeepseg_bf_training` to git-annex"
I don't know if this is the right place to ask for this. Please let me know if it's not.

We have 2 optical microscopy ADS datasets ready to be upload to the git-annex server.
They are already in BIDS-format and can be upload "as is".
They are `data_axondeepseg_bf_source` and `data_axondeepseg_bf_training` available in `duke/projects/axondeepseg/20211105_bf_datasets`.

Thank you!

[2021-11-15 16:52] mariehbourget commented on #135
Hi @kousu,
I just wanted to do a follow-up on this issue.
The fuzzy mask of `sub-nyuMouse15_sample-0005_TEM` has been corrected and is ready to be updated in the git-annex dataset. See comment above for details.
Let me know if you need more info. Thanks!

[2021-11-15 22:17] kousu commented on #147
In fact it's not just that we're using the `-MT` field and forgot the separator like I read this. Instead we're embedding the `mt-` field inside the `acq-` field, which is supposed to be for something else entirely.

[2021-11-15 23:11] jcohenadad commented on #147
just for the context/justification: the reason we are not compliant is because the BIDS extension proposal for qMRI (which includes the MT contrast) came up _after_ we put together this database. But now, we know what to do

[2021-11-16 00:44] kousu commented on #147
Fixed in https://github.com/spine-generic/data-multi-subject/pull/105 with

[code]

so, that should be easy to port here.

[2021-11-16 00:45] kousu commented on #147
I'm sorry if I'm coming off cold? I'm being terse because I'm seeing a lot of things to nitpick and I want to get them all written down before I forget.

[2021-11-16 18:41] kousu commented on #152
Yep, that's easy. The docs for it are at https://github.com/neuropoly/data-management/blob/master/internal-server.md#new-repository.

I can take care of it for you though, it'll be quick.

[2021-11-18 03:40] kousu commented on #141
Now that https://github.com/neuropoly/intranet.neuro.polymtl.ca/pull/21 is live, I feel I can do this.

First step: use https://github.com/newren/git-filter-repo to extract the documentation from this repo, and put it into the matching place in that repo:

[code]

Second step: get it over to where I'm working (my laptop's git was too old to run git-filter-repo, so I did that part on `joplin`)...

[2021-11-18 03:40] kousu commented on #141
Oh wow I didn't think a different repo's `Fixes: ` could close something over here.

[2021-11-20 23:44] taowa commented on #77
I've been working on adding this to the lab's configuration management today (for those who have access, that's at https://github.com/neuropoly/computers/pull/227). To that end, I'm re-purposing the resources allocated to praxis-gin to be for vaughan-test.neuropoly.org, which will be our dev server for data.neuropoly.org.

[2021-11-20 23:48] kousu commented on #77
And https://data.neuropoly.org will be just as good a demo for Praxis the next time we talk with them. And with the ansible work you're doing it will even be reproducible for them to build their own https://data.praxisinstitute.org :)

[2021-11-22 16:52] mariehbourget commented on #152
Hi @kousu, thank you for the info!
As our BIDS specification for microscopy is moving along quite fast at the moment, it seems that I'll have changes to do in the dataset in the very short term. So I'll wait a little bit before uploading to git-annex.
I'll let you know if I need help, thanks!

[2021-11-23 16:54] kousu commented on #68
Some more motivation for doing this: a report from a collaborator today that

git is more commonly known, so, there you go.

[2021-11-24 20:03] kousu commented on #150
Meeting minutes: https://docs.google.com/document/d/1dAbHrDLXxJJJu0A-WxsQTomD738_6JvQ-wGIx_vwR5g/edit#

[2021-11-25 18:28] kousu commented on #85
This data seems to have been successfully added in commit 31ddc826f854c00eb73afbcb1eafbdaf879f4786 months ago:

[code]

[2021-11-25 18:28] #85 closed

[2021-11-25 18:34] kousu commented on #63
I'm cleaning out my inbox and found this: @alexfoias is this still in need of doing?

I looked at git+ssh://data.neuro.polymtl.ca/datasets/sct-testing-large.git and it doesn't look like these were ever added. The most recent changes touching `karo*` (e.g. #85) don't seem to have added any "ses-01" or "ses-02" files:

<details><summary>git log --stat --name-only</summary>

[code]

</details>

[2021-11-25 18:48] alexfoias commented on #63
@kousu Thanks for pointing it out.

I checked my local repo:

[code]

This might have not been changed yet. I will take care of it.

[2021-11-25 18:49] alexfoias commented on #63
I assigned myself to the issue. I think the problem comes from the fact the feedback was given as a emoji. Not sure if we can get notifications when someone adds an emoji.

[2021-11-25 18:50] kousu commented on #63
I think we should just make it policy that if something needs doing it needs an explicit @ tag.... I also never see reacts and I don't like having to chase them down.

[2021-11-25 18:53] alexfoias commented on #63
Yes, I think we should implement it. 👍

[2021-11-25 20:01] kousu commented on #95
[code]

[code]

[code]

[2021-11-25 20:01] #95 closed

[2021-11-26 23:02] kousu commented on #108
Just found this in my backlog!

First, my newlines mistake bit this again, so I fixed that up with:

[code]

I verified all the files are actually Niftis:

![Screenshot from 2021-11-26 17-56-27](https://user-images.githubusercontent.com/987487/143660132-02d9f8b6-2fdc-489f-b6b0-3fa9e2d6f70d.png)

Then I looked at the sidecars. They're all correctly JSONs, but I noticed the sidecar files all have th

[2021-11-26 23:08] kousu opened #153 "`sct-testing-large`: extraneous `"Metadata"` sidecar field"
The .jsons in `sct-testing-large` have this extraneous `"Metadata"` field which is not specified by BIDS and which I think doesn't make a lot of sense because [everything in a sidecar is metadata](https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#keyvalue-files-dictionaries).

It also hasn't been used that consistently. Here's a count of the values it takes on:

[code]

[2021-11-26 23:09] kousu commented on #153
It should at least be unnested.

[2021-11-26 23:10] kousu commented on #108
I've rebased and force-pushed the newline fix up to your branch @alexfoias. When you next work on it, make sure to do:

[code]

to be synced up.

[2021-11-27 00:45] kousu commented on #101
Sorry sorry, just found this in my backlog.

It looks good and it's merged.

[2021-11-27 00:45] #101 closed

[2021-11-27 01:45] jcohenadad commented on #108
So I think before we merge this that metadata field needs to get moved over to a git commit message, and fleshed out.

I agree that some fields are redundant/meaningless and that the sidecar JSON might not be the best place for it-- however I still see the value in encoding that in the dataset (not only in the git commits-- eg if we move away from the dataset or zip it and share it with someone el

[2021-11-27 02:18] kousu commented on #108
Then why bother with git?

It leaves the dataset denormalized, with inconsistently duplicated information spread between commits, .json and .tsv files. Provenance tracking is the one thing git is extremely good at, we should lean into it.

[2021-11-27 02:39] jcohenadad commented on #108
because git provides a way to 'snapshot' a version of the dataset, which is important for reproducibility. Again, I think that an IRL discussion will clarify a few things in a more efficient way than back-to-back 200+ GH posts.

[2021-11-27 04:13] kousu commented on #131
We probably want to look at `atime`. Here's the alphabetically first files that haven't been used in 2 years (`+730` days), not counting things already in `archived/`:

[code]

there don't seem to be many files older than 3 years though:

[code]

[2021-11-28 19:30] kousu commented on #131
I thought about this over the weekend and came up with a forumla:

[code]

`duke/projects` has files/folders (very roughly) uniformly distributed in age between now and 3 years ago. There's gaps (between semesters?) and slightly more weight on very new _and very old_ (too old for anyone to remember to clean them up?). And they're distributed in size exponentially, since that's how just how files w

[2021-11-29 16:59] jcohenadad commented on #131
why not simply move projects/archived under another location archives/projects

IIRC this is what we decided to do in the past @alexfoias can chip in

[2021-11-29 17:02] kousu commented on #131
That's a great first step. There's lots more that my script found that's not `projects/archived` there. They look like old intermediate processings and experimental trainings and the like. e.g.

* `duke/projects/axondeepseg/20190326_Eliana/results`
* `duke/projects/axondeepseg/20180215_AxonDeepSeg_full_slice_segs`
* `uke/projects/ml_sci_prognosis/20190411-Handseg&straight/resampled_seg_whandseg`

[2021-11-29 18:05] kousu commented on #67
Bitten by this today in https://github.com/spine-generic/data-multi-subject/issues/108

[2021-11-29 19:05] joshuacwnewton commented on #131
FWIW, I have one potential reason why we shouldn't delete these files, and instead move/archive them as @jcohenadad suggests.

Recently I've been following up on past NeuroPoly research efforts for the purposes of [this SCT PR](https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/3541). My goal was to better document these older models included in `sct_deepseg`, because many of these models

[2021-11-29 19:21] alexfoias commented on #131
Yes, in the past we moved project to `archives/projects/XXXX` , where `XXXX` is the year.

Note that at this moment /archives is not backed up. This will be done once we have more disk space.

[2021-11-29 20:02] kousu commented on #131
Thank you for chiming in. That's a useful perspective we hadn't considered. Penultimately I *do* say they weren't done properly in the first place.

Would you go as far as `wontfix`ing this entire issue @joshuacwnewton? Just close it without cleaning things up?

The pressing issue is that while `duke` has a ton of space, it's also a ton of wasted space and our datasets are _large_:

[code]

`/mnt/

[2021-11-29 20:26] joshuacwnewton commented on #131
It depends on how pressing our storage issues are. If we can afford to preserve the existing datasets, then I'd want to do so, I think?

But, I don't mean to suggest that we shouldn't try to clean up things ever, though! I'm just thinking that it would be safer and easier to target present/future datasets, rather than retroactively targeting 3+ year old datasets.

In a case like this, I'm wonderin

[2021-11-29 20:30] kousu commented on #131
How hard do you think it would be to do a giant `grep` of every old version of every repo we have for the word `duke`? Maybe we could see if we're talking about like...100s of folders or maybe like 7 that we need to preserve.

[2021-11-29 20:41] joshuacwnewton commented on #131
Personally, my gut says to start from a position of "preserve everything", and only spend the effort to analyze the various datasets once we get to a point where preserving everything stops being feasible.

To answer your question, though: It's probably possible! It's just a question of whether doing that is worth the effort (vs. simply moving it to `archives`, putting it out of our minds, and mov

[2021-11-29 20:43] jcohenadad commented on #131
sorry i don’t have time to chip in with long discussion post— i’d like to discuss this IRL— a lot of content raised in this post needs background info/context— IRL meeting wl be more efficient

[2021-11-30 22:43] jcohenadad opened #154 "Asking for password"
a git-annexed repos is asking for my password, i give it, but it fails:

[code]

is there a glitch? @kousu

[2021-12-01 16:21] kousu commented on #154
It looks like maybe your `~/.ssh/config` is confused. It should be asking "git@data.neuro.polymtl.ca's password: ". Can you compare it to https://intranet.neuro.polymtl.ca/computing-resources/neuropoly/README.html#ssh-command-line ?

Also show me `ssh -v git@data.neuro.polymtl.ca`?

[2021-12-01 16:28] jcohenadad commented on #154
here's my .ssh/config:

<details><summary>Terminal output</summary>

[code]

</details>

i changed it for the ssh/config you pointed out, and now it is asking for the right thing:
[code]

however, when i enter my GRAMES passwd, it still doesn't work.

<details><summary>Terminal output</summary>

[code]

</details>

[2021-12-01 16:35] kousu commented on #154
The problem is there's a tension between https://github.com/neuropoly/computers/issues/90 and https://github.com/neuropoly/data-management/issues/22

`gitolite` doesn't work with grames passwords and `/mnt/duke` doesn't with without them.

It would be cool if we could get them plugged in together but it's actually rather difficult.... for now we just have to respect ssh keys.

You can add this lin

[2021-12-01 16:43] jcohenadad opened #155 "fatal: Could not read from remote repository"
I'm trying to update a git-annex dataset, but i am getting this:

[code]

[2021-12-01 16:45] jcohenadad commented on #154
Thank you @kousu, it solved it. So i understand that by changing passwd to pubkey, i won't be able to see the mounted duke on the stations anymore (because of https://github.com/neuropoly/computers/issues/90), and so i need to manually change it back to 'passwd' to fix it when i need it, is that right?

[2021-12-01 16:49] kousu commented on #154
That change only applies to `data`, which you never connect in to. It isn't itself connected to `duke`.

You should be able to confirm that you get a password prompt and can access `duke` elsewhere by `ssh -v joplin ls /mnt/duke/projects/`

[2021-12-01 16:54] jcohenadad commented on #155
in fact, i cannot connect to any station anymore 🤔

[2021-12-01 16:56] jcohenadad commented on #154
<details><summary>Terminal output</summary>

[code]

</details>

[2021-12-01 16:56] kousu commented on #154
The last line needs to say `PreferredAuthentications password`

[2021-12-01 16:57] kousu commented on #155
We fixed this over in https://github.com/neuropoly/data-management/issues/154#issuecomment-983836310...also this isn't really a data-management issue, it's a tech support issue.

[2021-12-01 16:57] #155 closed

[2021-12-01 17:01] jcohenadad commented on #154
ah! indeed i modified the wrong line when implementing https://github.com/neuropoly/data-management/issues/154#issuecomment-983818916.

now it looks like:

<details><summary>Terminal output</summary>

[code]

</details>

so i changed the last line, but also the line about the data server:

[code]

now, i can connect to the stations again, but i still cannot get the data:
[code]

[2021-12-01 17:02] jcohenadad commented on #155
which repository should tech support issue be opened in the future?

[2021-12-01 21:30] sandrinebedard opened #156 "Move preprocessing scripts of `*-processed` datasets under /code/"
## Context

For spine-generic-processed and uk-biobank-processed the preprocessing scripts are currently under specific projects repository. The plan is to move those scripts into the datasets under ./code/.

For spine-generic-processed :
* [preprocess_data.sh](https://github.com/spine-generic/spine-generic/blob/sb/curate_processing_for_training/preprocess_data.sh)
* [process_data.sh](https://gith

[2021-12-01 22:55] kousu commented on #155
I guess we don't have a good option. After investigation, https://github.com/neuropoly/intranet.neuro.polymtl.ca would be most appropriate since it was related to the SSH advice from that page over there. But it wouldn't be clear that that was the problem before investigation.

[2021-12-01 23:02] kousu commented on #154
The config in https://intranet.neuro.polymtl.ca/computing-resources/neuropoly/README.html#ssh-command-line is working for me, under Linux.

<details>

[code]

</details>

<details>

[code]

</details>

The key lines are

Does yours try that key?

[2021-12-01 23:03] kousu commented on #154
Is it possible you simply never inscribed your macbook onto `data.neuro`?

[2021-12-01 23:09] jcohenadad commented on #154
it does try some key files:

<details><summary>Terminal output</summary>

[code]

</details>

i did already download several datasets on my laptop, so i'm not sure what changed since. Should i try to rename my .ssh/* files to recreate them? or edit them to remove one entry corresponding to the data server?

[2021-12-01 23:12] jcohenadad commented on #154
ah! wait! i got it working. The solution is to do:
[code]

instead of (advised in https://github.com/neuropoly/data-management/issues/154#issuecomment-983818916):
[code]

the neuropoly intranet does advise the correct thing though, so we're good 😅
thank you for your help!

[2021-12-01 23:14] jcohenadad commented on #154
ah no, wait...

this works:

<details><summary>Terminal output</summary>

[code]

</details>

but i still cannot update the dataset:
[code]

[2021-12-01 23:16] jcohenadad commented on #154
i'll try to just erase and re-download a dataset?

[2021-12-02 05:28] kousu commented on #154
Have you rebooted lately?

[2021-12-02 15:26] jcohenadad commented on #154
Yes, I reboot my laptop every day.
Same thing happened now (I checked again), at Poly (without the VPN).

[2021-12-03 16:14] #154 closed

[2021-12-03 16:15] kousu commented on #154
@taowa figured out the missing piece! Thank you Taowa. Please take their advice, @jcohenadad.

[2021-12-03 19:30] jcohenadad opened #157 "basel-mp2rage: branch af/add_data_katrin"
I'm just seeing this branch:

[code]

is this branch merged? is there anything needed to review?

Also: is there an issue/discussion that describes the purpose of this branch?

[2021-12-03 19:38] alexfoias commented on #157
This comes from https://github.com/neuropoly/data-management/pull/125

[2021-12-03 19:44] jcohenadad commented on #157
duplicate from #125

[2021-12-03 19:44] #157 closed

[2021-12-03 19:45] jcohenadad commented on #157
@alexfoias i suggest adding the name of the dataset in the issue title-- i've just edited-- easier to search-- thx

[2021-12-03 21:43] uzaymacar opened #158 "Unable to Update Dataset with `git-annex`"
The following commands

[code]

give the following error

[code]

while trying to update the `basel-mp2rage` dataset to its version with two annotators.

[2021-12-03 22:19] jcohenadad commented on #158
It seems like you used a mix of commands between 'downloading' and 'updating' the repository. The 'update' syntax that you used:
[code]

should only be used _if_ you already have cloned the repository.

But if you want to clone from scratch, then you should do:
[code]

So, could you try to _only_ clone a fresh repository?

Also: it would be useful to see your entire Terminal output.

[2021-12-03 22:23] jcohenadad opened #159 ".DS_Store to clean up"
I see that a few data repositories have the ugly Apple `.DS_Store` file in them. It would be nice to clean them (and add it in the .gitignore)

[2021-12-03 22:27] uzaymacar commented on #158
I was cloning from scratch earlier, and that does work for me. However, I don't see the the second annotator (`_manual2`) in the dataset when I download it.

[2021-12-03 22:50] jcohenadad commented on #158
Indeed, I just realized that they are still not merged. You can access it by switching to the correct branch. More details at: https://github.com/neuropoly/data-management/pull/125

[2021-12-03 22:55] kousu commented on #159
This is documented in https://intranet.neuro.polymtl.ca/computing-resources/neuropoly/data/git-annex.html#new-repo. But some repos must not have been made following those instructions to the letter and we'll have to patch them.

[2021-12-03 23:10] uzaymacar commented on #158
Ah I see, I now have access to the data, thanks! Closing the issue.

[2021-12-03 23:10] #158 closed

[2021-12-03 23:13] kousu commented on #158
this is saying: Uzay doesn't have write permissions to this dataset. And that's fine. Our standing policy is to only grant write access on a case-by-case basis to derisk our workflow.

@uzaymacar if you do

[code]

then the errors will go away.

You can also do

[code]

to get the data, or

[code]

or

[code]

or

[code]

because `git-annex` has made the UI mistake of giving many non-orthogonal op

[2021-12-04 20:10] jcohenadad commented on #158
Currently the doc says:
[code]

Which Uzay seems to be able to use (he managed to access the data at the end), so I assume we can leave it as it is? I agree we should try to minimize the amount of options we give to our users

[2021-12-04 23:06] kousu commented on #158
Actually it says

[code]

which is different: because `git annex` wasn't able to (needlessly) write back, it returned 1 so actually downloading the data was skipped.

And if we document the `;` version, people will end up with stray errors and be trained to ignore what git-annex says to them

[2021-12-05 00:31] jcohenadad commented on #158
indeed, i missed that subtlety. We can agree on what is the best way to document for lab members in https://github.com/neuropoly/intranet.neuro.polymtl.ca/issues/38

[2021-12-07 19:45] alexfoias commented on #63
@jcohenadad Quick follow-up on the request. We have received the data on the email "Fwd: longitudinal data" from Jun 12, 2020, 9:07 AM . I have added the data under `duke/mri/karo/20200612_longitudinal` and `duke/projects/long_ms_brain_spine/karolinska`. Anne or Charley curated the data and the put it on  `duke/projects/long_ms_brain_spine/data_processing`.

This data is brain and spine.

1. Could

[2021-12-10 18:31] jcohenadad opened #160 "Review basel-mp2rage:jca/corrected-segs"
Alex: can you please review this branch and merge? thank you

[2021-12-10 20:28] alexfoias commented on #160
I checked the branch. Everything looks good. Okay to merge.

<Details>
[code]
</Details>

[2021-12-10 20:28] alexfoias commented on #160
@kousu I tried to merge but I have this error.

[code]

[2021-12-13 15:20] jcohenadad commented on #160
I'm getting the same thing:
[code]

[2021-12-13 15:22] jcohenadad commented on #160
Maybe this is because `jca/corrected-segs` is not up to date with master. I'll try to merge master into jca/corrected-segs to see if it fixes the issue

[2021-12-13 15:26] jcohenadad commented on #160
yay! i think it worked 🎉
I did this:
[code]

<details><summary>Terminal output</summary>

[code]

</details>

[2021-12-13 15:40] uzaymacar opened #161 "`basel-mp2rage` is not updated - can't access the merged `manual-seg`"
I run `git config remote.origin.annex-readonly true && git pull && git annex sync --no-content && git annex get .` with no errors.

[code]

However, I don't the see the contents of the merged `jca/corrected_segs`.

[2021-12-13 15:42] jcohenadad commented on #161
can you run `git log --pretty=oneline`

[2021-12-13 15:43] uzaymacar commented on #161
[code]

[2021-12-13 15:45] jcohenadad commented on #161
ah! indeed, it looks like my merge didn't work properly. I am getting this:
[code]

and the problem is that 08f9316ada976ef373aea24844e007f670780d02 should point to origin/HEAD (I _think_)

[2021-12-13 15:45] jcohenadad commented on #160
Actually no-- I don't think it worked: https://github.com/neuropoly/data-management/issues/161#issuecomment-992608339

@kousu or @taowa if you have a minute we would appreciate your help here, thanks

[2021-12-13 15:47] jcohenadad commented on #160
My gut feeling is that i should run a command with 'git annex sync' or something like that, in order to actually push my local changes for the files that are under the control of git annex (not git)

[2021-12-13 15:54] jcohenadad commented on #160
Actually, i was missing a 'git push' _from_ master:
[code]

[2021-12-13 15:55] jcohenadad commented on #160
git log confirms the origin/HEAD is at the latest:
[code]

Thank you @taowa for your help 🙏

[2021-12-13 15:55] #160 closed

[2021-12-13 16:05] uzaymacar commented on #161
After @jcohenadad's `git push` as discussed in #160, the issue is solved :tada:! Here is the new output of `git config remote.origin.annex-readonly true && git pull && git annex sync --no-content && git annex get .`:
[code]

[2021-12-13 16:05] #161 closed

[2021-12-13 20:21] jcohenadad opened #162 "Move Beijing data to git-annex"
from: projects/ivadomed/tumor_segmentation_20201005
to: git-annex/datasets/beijing-tumor

[2021-12-13 20:22] alexfoias commented on #162
@jcohenadad do you want me to take care of it ?

[2021-12-13 20:56] jcohenadad commented on #162
that would be great! thank you @alexfoias 🙏

[2021-12-14 22:02] alexfoias commented on #162
@jcohenadad Added the it to`datasets/beijing-tumor`

[log.txt](https://github.com/neuropoly/data-management/files/7715035/log.txt)

[2021-12-14 22:08] jcohenadad commented on #162
thx-- todo:
- remove duplicates on duke

[2021-12-16 16:32] jcohenadad commented on #140
@alexfoias any update with this?

[2021-12-16 18:51] alexfoias commented on #140
Here is the log for the branch
[log.txt](https://github.com/neuropoly/data-management/files/7729748/log.txt)

The derivatives seem to be there. @jcohenadad Can I merge ?

[2021-12-16 18:58] jcohenadad commented on #140
it says:
[code]

whereas IIUC correctly the repository was renamed `sci-colorado`

is that an issue? maybe something to clarify?  @kousu your help would be appreciated here

[2021-12-17 04:20] kousu commented on #77
Some competitors:

* https://www.dandiarchive.org/
* https://humanbrainproject.github.io/openMINDS/
* https://sparc.science/

Possible collaborators:

* https://portagenetwork.ca/

Portals (where we could potentially get ourselves listed, especially if we help them out by making sure we have APIs available):

* https://knowledge-space.org/
* https://portal.conp.ca/

[2021-12-17 16:56] alexfoias commented on #162
@jcohenadad is done.

Here is the proof:

[code]

[2021-12-17 16:57] alexfoias commented on #162
We can close the issue.

[2021-12-17 17:09] alexfoias commented on #140
I think is about a known glitch from git-annex. The files are on the server on the correct name. I think @kousu documented it here: https://github.com/neuropoly/data-management/issues/71

[2021-12-17 18:52] jcohenadad commented on #140
hum, i'm not confident enough to understand exactly what's going on.

[2021-12-17 18:55] jcohenadad commented on #162
Before that I would like to better document in the duke folder, because there are still some "tumor_segmentation_*" folders out there.

@andreanne-lemay can we safely remove these folders:
- tumor_segmentation_20200820
- tumor_segmentation_20200923

[2021-12-17 18:56] jcohenadad commented on #162
Also, we need to update the data provenance info here:
- https://github.com/ivadomed/findcord_tumor
- https://github.com/ivadomed/model_seg_sctumor-edema-cavity_t2-t1_unet3d-multichannel/issues/4

[2021-12-18 02:28] jcohenadad opened #163 "How can I list all users who have a saved SSH key?"
Following [this section](https://intranet.neuro.polymtl.ca/computing-resources/data/git-datasets.html#id1) I wanted to list what are the users and systems who have access to the git-annex internal server. I tried the following commands without success:

[code]

[2021-12-20 17:07] andreanne-lemay commented on #162
Data provenance and more info were added to the model's repo (https://github.com/ivadomed/findcord_tumor/pull/3, https://github.com/ivadomed/model_seg_sctumor-edema-cavity_t2-t1_unet3d-multichannel/pull/5).

I think it's fine to delete them, but before giving my approval to do so, I would like to verify the content of these folders. Currently, I can't access duke (I contacted the DGE), so I'll upd

[2022-01-06 19:47] alexfoias commented on #162
@andreanne-lemay could you please give us an update ? thank you.

[2022-01-06 19:47] alexfoias commented on #63
@jcohenadad Could you please reply to [my previous comment](https://github.com/neuropoly/data-management/issues/63#issuecomment-988216238) ? thank you

[2022-01-06 19:54] jcohenadad commented on #63
@alexfoias sorry-- it is on my todo list-- this comment cannot be answered in 1min, and unfortunately i have other priorities

[2022-01-06 21:57] alexfoias opened #164 "add data `sub-56027` to `sct-testing-large`"
I pushed the data from email `Using sct for Quantitative Analysis of Spinal Cord MRI` received on `December 18, 2021 9:14:47 PM` on the branch `af/add_sub-56027` under `datasets/sct-testing-large`.

Here is a git log:

[code]

[2022-01-06 21:57] alexfoias commented on #164
@jcohenadad Here is the issue the you requested.

[2022-01-06 22:01] jcohenadad commented on #164
I see the added character "^M":

[code]

[2022-01-06 22:04] jcohenadad commented on #164
what is the difference between:
[code]
and
[code]

[2022-01-06 22:07] jcohenadad commented on #164
"institution_id" should be indicated: "ShebaMedicalCenterIsrael"

[2022-01-06 22:08] jcohenadad commented on #164
"pathology" --> MS

[2022-01-06 22:12] jcohenadad commented on #164
for easier identification i would rename sub ID as: `sub-israelSheba56027`

[2022-01-06 22:13] jcohenadad commented on #164
in the JSON metadata fields i would add a link to this issue for keeping provenance

[2022-01-07 20:52] jcohenadad commented on #164
thanks!

indeed, this is not useful. We should only keep the binary labels

[2022-01-07 21:22] alexfoias commented on #164
@jcohenadad I removed the l**abeled-*** files. Please let me know if I can merge. thanks

[code]

[2022-01-09 06:35] kousu commented on #77
Part of our promise of standards-compliant security was to run `fail2ban` but maybe `pam_faillock` is an easier choice (https://github.com/neuropoly/computers/issues/168#issuecomment-1008239662). But perhaps not.

[2022-01-09 21:40] kousu commented on #163
`perms` only works on a specific repository. The command you're looking for [is `keys`](https://intranet.neuro.polymtl.ca/computing-resources/data/git-datasets.html#add-users):

<details>

[code]

</details>

[2022-01-10 15:54] andreanne-lemay commented on #162
Sorry for the delay! After verification, these folders can be deleted. Thank you for taking care of this!

[2022-01-10 18:53] alexfoias commented on #162
I removed the folders:
[code]

[2022-01-10 18:56] alexfoias commented on #162
I updated the info here:

- https://github.com/ivadomed/findcord_tumor
- Procedure and config file to reproduce the model ivadomed/model_seg_sctumor-edema-cavity_t2-t1_unet3d-multichannel#4

[2022-01-12 18:30] kousu commented on #140
Alex is right, this is nothing to worry about. Does the data download when you `git annex get .` it? Then it's working.

<details>

The string "git@data.neuro.polymtl.ca:~/repositories/datasets/sci-lesion-segmentation.git" is just a comment. It can be controlled with [`git annex describe`](https://git-annex.branchable.com/git-annex-describe/) but it was [pretty hard to learn that](http://git-annex

[2022-01-12 18:50] kousu commented on #140
I've tested that the files were all uploaded:

<details>

[code]

</details>

and I can see in that download log they're all under `derivatives/` as expected.

I can also see that each of them is associated with a metadata file, and appears to be a valid nifti.

<details>

[code]

</details>

[2022-01-12 18:55] kousu commented on #140
I've merged it to `master`:

<details>

[code]

</details>

[2022-01-12 18:55] #140 closed

[2022-01-12 20:32] jcohenadad commented on #140
yes it does

[2022-01-13 20:24] alexfoias opened #166 "update `derivatives` for`datasets/lumbar-epfl`"
Added new segmentation on `af/fix_seg` for `datasets/lumbar-epfl` . Please note that only a few of them seemed to have changed.

[code]

@jcohenadad Could you please review the branch ?

[2022-01-13 21:22] jcohenadad commented on #166
thank you @alexfoias, will do. Could you please also add the script you used to BIDSify the data

[2022-01-13 21:37] alexfoias commented on #166
I pushed the script on the branch:

[code]

[2022-01-18 20:51] naga-karthik opened #167 "added manual SC segmentations for few subjects in the `sci-zurich` dataset"
Manual segmentations of the spinal cord (SC) of 3 subjects were added to the derivatives of the `sci-zurich` dataset.

**Problem:** SCT was used for cropping the input data which resulted in the SC lesions also being cropped for 3 subjects `sub-zh11` (`ses-01` and `ses-02`), `sub-zh12` (`ses-01`), and `sub-zh17` (`ses-01`).

**Solution:** SCT's incomplete output for these subjects was extended by

[2022-01-18 21:15] jcohenadad commented on #167
@naga-karthik happy to review-- what is your branch name pls?

[2022-01-18 21:31] jcohenadad commented on #167
Reviewed and accepted!

<details><summary>Terminal output</summary>

[code]

</details>

@alexfoias Can you please make sure it has been properly pushed on master?

[2022-01-19 16:59] alexfoias commented on #167
@jcohenadad @naga-karthik I have checked the repo and everything seems to have been pushed correctly. We can close the issue.

[2022-01-20 14:46] naga-karthik commented on #167
Sounds good! Thank you for the confirmation @alexfoias! Closing it!

[2022-01-20 14:46] #167 closed

[2022-01-24 16:25] alexfoias commented on #162
@jcohenadad @andreanne-lemay I think all the requested actions are done. I suggest closing the issue.

[2022-01-24 16:57] #162 closed

[2022-01-25 18:59] alexfoias commented on #166
@jcohenadad Whenever you have a few minutes, could you please review the branch in order to merge it ? Thank you.

[2022-01-25 19:00] alexfoias commented on #164
@jcohenadad Could you please review the branch ? Thank you.

[2022-01-26 20:30] kousu commented on #166
This is absolutely a nitpick, but BIDS [says to use `code/`](https://bids-specification.readthedocs.io/en/stable/03-modality-agnostic-files.html#code), so before merging do something like:

[code]

[2022-01-26 21:11] jcohenadad commented on #166
wow! good catch. I thought the BIDS recommendation was to use a folder 'scripts/'. Maybe they changed it? 🤷‍♂️ . Anyways, yes, i agree that's what we should do from now on

[2022-01-30 17:47] kousu opened #168 "Export datasets/spine-generic-processed to graham.computecanada.ca"
A request from [Enoch](https://github.com/neuropoly/onboarding/issues/81):

[2022-01-30 17:52] kousu commented on #168
This is an irregular process. Exporting a dataset from the private server to anywhere else risks PII protections. I'm assuming @jcohenadad's sign-off on this, because he responded positively on Slack to the request. But maybe this is a contract-breaking mistake.

What we _should_ do is first export this dataset to the [public server data.neuropoly.org](https://github.com/neuropoly/computers/issues

[2022-01-30 18:54] kousu commented on #168
To set up a tunnel, I connected into our VPN with CiscoAnyconnect, then I used `joplin` as a _jump server_ (`-J`), and set up a _reverse tunnel_ (`-R`) pointed at `data`:

[code]

Test the tunnel is working:

[code]

[nguenthe@gra-login3 def-jcohen]$ GIT_SSH_COMMAND='ssh -p 23784 localhost' git clone git@data.neuro.polymtl.ca:datasets/spine-generic-processed^C

I created and authorized an ssh key

[2022-01-30 23:30] graham commented on #168
I believe I've been added to this accidentally, hopefully the correct Graham can be notified!

[2022-01-30 23:31] kousu commented on #168
omg oops :sweat_smile:

[2022-01-31 03:22] kousu commented on #168
All done :heavy_check_mark:

[2022-01-31 03:22] #168 closed

[2022-01-31 19:51] kousu commented on #77
We had a meeting with Praxis today:

* The research centers in Vancouver, Toronto and Calgary have gotten ethics approval to upload to the server we're making
* The other 4 research centers are bogged down in ethics
* For a minimum-viable product, we'll have a single server and we'll use Gitea Organizations to do inter/intra-research center access control
* We're aiming to have something in produc

[2022-01-31 19:52] kousu commented on #77
@taowa is going to contact ComputeCanada asking them to extend our allocation on https://docs.computecanada.ca/wiki/Cloud_resources#Arbutus_cloud_.28arbutus.cloud.computecanada.ca.29 from 2 VPSes to 3 -- one for data-test.neuropoly.org, one for data.neuropoly.org, and one for data.praxisinstitute.org.

[2022-02-07 22:18] #163 closed

[2022-02-11 17:16] hermancollin commented on #152
Both datasets are now on the internal data server.

[2022-02-11 18:42] mariehbourget commented on #152
Thank you @hermancollin! 🙏

[2022-02-11 18:42] #152 closed

[2022-02-22 18:46] hermancollin commented on #135
For future reference I took care of this and the dataset is also updated.

[2022-02-22 19:28] mariehbourget commented on #135
Thanks @hermancollin and @kousu for your help with this, we can now close this issue as all the fuzzy masks are corrected.

[2022-02-22 19:28] #135 closed

[2022-03-02 19:38] kousu commented on #20
Reminder (to selves) that this is still an unsolved problem

[2022-03-09 15:12] alexfoias opened #169 "add data `sub-sub0019` to `sct-testing-large`"
Request received on https://neuropoly.slack.com/archives/CB232HT46/p1646672232939959 and pushed the data on the branch  `af/add_sub-user0019` under `datasets/sct-testing-large`.

Here is the log:

[code]

[2022-03-16 20:05] alexfoias opened #170 "add more data to `sci-zurich`"
The data was sent in the email : `Re: Subsegmenting GM and WM` on `March 16, 2022 12:11 PM`.

I initially pushed all of them on `af/add_data`, but it also has .nii (which I didn't realize until the moment of pushing them).

I am currently working on fixing it issue.

@naga-karthik @uzaymacar @kousu Tagging you to be aware of developments.

[2022-03-17 18:51] alexfoias commented on #170
@naga-karthik Could you please review branch `af/add_extra_data` ?

@kousu How can I remove the branch `af/add_data`? thanks

[2022-03-18 17:46] jcohenadad opened #171 "Add custom metadata info about provenance of user data"
Currently, for data shared by users, we add the following info in the JSON. Example:
[code]

This might not be BIDS-compliant, therefore we need to address this limitation and find a solution.

[2022-03-18 17:58] jcohenadad opened #172 "Rename wakehealth dataset"
Currently we have:
[code]

We need to:
rename `datasets/wakehealth` --> `datasets/data_axondeepseg_wakehealth_source`.

[2022-03-18 18:00] jcohenadad opened #173 "How to update a large dataset without downloading everything"
doing this:

[code]

it takes ages, because it's big, but i don,t want the data, i only want to see the README. Is there any way to do that?

[2022-03-18 19:13] alexfoias commented on #173
I think you can only need to do the `git pull`.

[2022-03-18 19:17] alexfoias commented on #171
From my understanding, we have the freedom of using this custom field. Most field in the json sidecar files are recommended and very few are required. I think that the bids-validator doesn't check the contents of it.

https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html

[2022-03-18 19:18] jcohenadad commented on #173
the same thing happens if i only do git pull

[2022-03-18 19:25] alexfoias commented on #173
I'm trying to clone the repo. I think It might not have been pushed using git annex.

[2022-03-18 19:31] alexfoias commented on #173
I can look more into it once I manage to download the complete dataset.

[2022-03-18 19:46] alexfoias commented on #173
Git attributes seems fine:

[code]
Here is part of `git annex whereis`
[code]

Not sure what might be the source.

[2022-03-21 17:30] naga-karthik commented on #170
Hey @alexfoias! I have gone through your branch and there are some things that need to be updated.

1. As mentioned in the email by Dario, there is no data for `sub-zh28`, however, their name still exists in the `participants.tsv` file. So, the `sub-zh28` row in this file must be deleted.
2. As also mentioned, there are some subjects with no hyperintense lesions (i.e. no nifti file in the derivati

[2022-03-21 19:37] alexfoias opened #174 "update contents for `sci-colorado`"
We received new contents on 2022-03-21 via email with the subject `RE: 3D T2 SPACE and 2D T2 for mild SCI`.

I have downloaded the master version of `sci-colorado` and did a diff with the newly received data.

Here is the output:

[code]

[2022-03-22 18:37] mariehbourget commented on #171
Thanks @alexfoias for the clarification.

I think you are right. I was under the impression that additional "non-standardized" metadata fields were prohibited but I did not find anything preventing it in the spec.
Moreover, the BIDS-validator does not raise errors (nor warnings) for the unstandardized fields at the moment.

- For **anat** data : there are no required field in the JSON metadata, so

[2022-03-22 19:53] jcohenadad commented on #171
+1

[2022-03-23 19:29] alexfoias commented on #174
@naga-karthik @kiristern I updated the data on the branch `af/fix_data`. Do you mind taking reviewing it? thanks

[2022-03-24 15:32] alexfoias commented on #170
@naga-karthik I pushed the data received on 2022-03-24 on `af/new_data_zurich`.

[2022-03-27 16:52] jcohenadad commented on #164
@alexfoias i'm looking into your branch now.

since it's been a while, i am just wondering if your branch is up to date with master?

[2022-03-30 19:28] alexfoias commented on #38
@kousu I feel like we can close this issue.

[2022-04-01 15:30] alexfoias commented on #170
Added new data on `af/additional_data` https://gist.github.com/alexfoias/c9861f661132309f80c32b77d54d5eb3

[2022-04-04 18:04] alexfoias commented on #164
@kousu I'm not sure if we have a procedure to update the branch with master. I have tried the following commands.
Please let me know if I have to do something different.

I did this to make sure I'm up to date with master:
[code]

Here is the output:
[code]

[2022-04-04 18:09] alexfoias commented on #170
@naga-karthik changed the data and now it's merged to master.

[2022-04-04 18:09] #170 closed

[2022-04-12 17:45] kousu commented on #71
@mguaypaq proposed today that these cruft remotes aren't just messy, they're a re-identification risk: because git-annex adds a comment to each remote with their `user@hostname`, and a timestamp, it might be possible to retrace who touched each subject and figure out who they'd scanned.

[2022-04-25 16:12] hermancollin opened #175 "PR: `wakehealth`: `ac/bids-update`"
I made a bunch of pretty big changes to the wakehealth dataset on a branch (`ac/bids-update`). I pushed the branch according to https://intranet.neuro.polymtl.ca/computing-resources/data/git-datasets.html#reviewing-pull-requests and, since I have writing access, tried to merge the branch to master.
I successfully merged the branch with `--ff-only` but when I try to push I get:

[code]

Any idea?

[2022-04-25 19:47] jcohenadad commented on #175
that's a question for @kousu @mguaypaq @taowa

[2022-04-28 20:49] kousu commented on #77
We've done a lot of work in our private repo at https://github.com/neuropoly/computers/issues/167 on this. We've got an ansible deployment, a fork of gitea (https://github.com/neuropoly/gitea/pull/1/); and have a demo server at https://data.praxisinstitute.org.dev.neuropoly.org/. Eventually we will want to extract those ansible scripts and publish them on Galaxy

Today we talked to Praxis and [Dav

[2022-05-06 03:53] mguaypaq commented on #77
We got some branding feedback from Praxis Institute for the soon-to-be https://data.praxisinstitute.org:

(Note that [the current demo](https://data.praxisinstitute.org.dev.neuropoly.org/) simply uses the `arc-green` theme which comes bundled with Gitea, as described in [this section of the Gitea customization docs](https://docs.gitea.io/en-us/customizing-gitea/#customizing-the-look-of-gitea).)

-

[2022-05-06 16:29] kousu commented on #77
You extracted wordmark.svg! Niiice.

[2022-05-06 16:30] kousu commented on #77
On my end, I emailed R. Foley at Praxis to ask to get DNS reassigned to our existing ComputeCanada instances, so that we will have https://data.praxisinstitute.org in place of https://data.praxisinstitute.org.dev.neuropoly.org.

[2022-05-07 23:36] kousu commented on #77
On the demo server I just saw this probe from Mongolia:

[code]

so it occurs to me that maybe we should impose geoblocking on Praxis's server. It's meant to be a pan-Canada project, so maybe we should impose firewall rules that actually enforce that it's only pan-Canadian. That's a bit tricky to do; I guess we can extract ip blocks from MaxMind's database and feed them into iptables?

[2022-05-13 14:52] sandrinebedard opened #176 "Update link of preprocessing script in `spine-generic-processed`"
I've update the link to the preprocessing script of spine-generic-processed in the branch  `sb/update-readme-links`

If someone could check it out!

[2022-05-13 15:26] kousu commented on #176
On it !

[2022-05-13 15:39] kousu commented on #175
Sorry, I missed this. @hermancollin, the issue is that `master` is a protected branch. But I can review this PR and merge it for you!

[2022-05-13 15:54] hermancollin commented on #175
@kousu that would be perfect. I thought the hooks were declined because the change was too big (I added the source files on this branch).

While you're at it, maybe you could also take care of #172 because the dataset also needs to be renamed.

[2022-05-13 16:30] kousu commented on #176
Done, thanks for the maintenance work @sandrinebedard.

[2022-05-13 16:30] #176 closed

[2022-05-13 16:36] kousu opened #177 "Wakehealth dataset: large unannexed files"
The wakehealth dataset has become slow to download:

[code]

The reason is that it's distribution of files is unbalanced:

[code]

In contrast, the other datasets are weighted the other way:

[code]

Please figure out why and fix it.

[2022-05-13 17:04] kousu commented on #177
I used [How to find/identify large commits in git history?](https://stackoverflow.com/questions/10622179/how-to-find-identify-large-commits-in-git-history#42544963) to determine that it's because there's a folder called 'sourcedata' that's full of these large ["hamamatsu" `.ndpi` files](https://openslide.org/formats/hamamatsu/).

<details>

[code]

</details>

It looks like these files don't exist

[2022-05-13 17:04] #177 closed

[2022-05-13 17:08] kousu commented on #175
Ah okay I have one review (original: https://github.com/neuropoly/data-management/issues/177): the `.ndpi` files are large! They make cloning the dataset take almost 6GB:

[code]

I'm going to add `.ndpi` as a filetype we annex, and edit your branch to switch them over.

[2022-05-13 17:52] kousu commented on #175
I did a `git rebase -i master` where I put your edit to `.gitattributes` before the commit that added all the source data.

<details><summary><code>git rebase -i master</code>

[code]

</details>

Then, to convince `git-annex` to accept the new files, I had to step back one commit (leaving the files in place) and run `git annex add` manually:

[code]

<details><summary><code>find . -name '*.ndpi'

[2022-05-13 19:55] kousu commented on #175
Okay, merged:

<details>

[code]

</details>

[2022-05-13 19:55] #175 closed

[2022-05-13 19:56] kousu commented on #172
Done:

[code]

Now it shows:

[code]

[2022-05-13 19:56] #172 closed

[2022-05-24 16:06] kousu commented on #77
theme-praxis.css:

[code]

Looks like:

![Screenshot 2022-05-24 at 12-04-28 Gitea Git with a cup of tea](https://user-images.githubusercontent.com/987487/170081481-bf06b788-c92f-43e7-9338-2140afe95770.png)
![Screenshot 2022-05-24 at 12-03-44 Gitea Git with a cup of tea](https://user-images.githubusercontent.com/987487/170081490-87114256-1619-4def-b957-10257bf5c6f5.png)
![Screenshot 2022-05-24 at 1

[2022-05-25 03:17] kousu commented on #77
I followed [the instructions](https://docs.gitea.io/en-us/customizing-gitea/#changing-the-logo):

<details><summary><code>make generate-images</code></summary>

[code]

</details>

But it came out badly:

![Screenshot 2022-05-24 at 22-06-10 Gitea Git with a cup of tea](https://user-images.githubusercontent.com/987487/170165056-3ec19e95-ce76-40ec-882a-933230be2864.png)

After mulling for a while, I

[2022-05-25 03:38] kousu commented on #77
For this, I put

[code]

And did this patch

[code]

And now I've got

![Screenshot 2022-05-24 at 23-37-11 Gitea Git with a cup of tea](https://user-images.githubusercontent.com/987487/170174486-59a8a27c-28a6-4ba5-81ee-87667aee68e0.png)

[2022-05-25 04:30] kousu commented on #77
Some other praxis-specific things to include:

[code]

[2022-05-25 23:12] kousu commented on #77
Theming is sitting on https://github.com/neuropoly/computers/pull/332/commits/cd5134681147a1827d02b0cde14afe84efbb98a7 (sorry it's in the private repo; extracting and publishing to Ansible Galaxy will be a Real-Soon-Now goal)

[2022-05-25 23:20] kousu commented on #77
They've made a decisions: they've bought spineimage.ca. I've asked them to assign

[code]

When that's done, I'll add those domains in https://github.com/neuropoly/computers/pull/332; and then we should maybe think about creating some servers on Amazon again to host a staging server that we can use to demo stuff.

[2022-06-01 19:58] kousu commented on #77
We had a meeting today with Praxis, including the first trial data curator.

David Cadotte has a [draft curator tutorial :lock_with_ink_pen: ](https://docs.google.com/document/d/1noUH8XshXYuCwtWRoAW7cy6EMYbI_5jEIar-OjK2i5k/edit). I started the same document [on the wiki here](https://github.com/neuropoly/data-management/wiki/RHSCIR-Substudy-Data-Curation) but his is further along.

[2022-07-12 17:47] mguaypaq commented on #77
Summary for today: we were able to connect with Lisa J. from the site_012, and had some pretty good success.
* We managed to install the required dependencies for curation on Windows, and updated the shared Google doc with the steps taken.
* We got dcm2bids to run (including dcm2niix), but we suspect the configuration file isn't complete yet. We'll need to read some documentation before we can gui

[2022-07-12 17:51] mguaypaq commented on #77
Also, we noticed that for site_03, the `participants.json` file contains row data, which should only be in `participants.tsv`, so we should open an issue with Maryam to fix it, and make the curation documentation clearer on that point.

[2022-08-02 15:47] kousu commented on #64
The explicit `git push git-annex:git-annex` doesn't work, because the remote `git-annex` (sometimes) makes its own merge commits leading to

It's okay if you're working alone, but as soon as you're collaborating you need something to handle merging the branches.

So we _must_ use some form of `git annex sync`. Just, probably not its default form.

[2022-08-03 19:18] kousu commented on #77
## Backups

Put backups on https://docs.computecanada.ca/wiki/Arbutus_Object_Storage. Even if backups are encrypted, the data sharing agreement says backups need to stay within the cluster.

[2022-09-16 12:00] Nish228 opened #178 "update contents of data_axondeepseg_bf_training"
The ADS team received new data from the Virginia Commonwealth University (VCU) and proceeded to generate masks for this data to upload on data_axondeepseg_bf_training.
Following the instructions on the Neuropoly lab manual, I have added the following files:

21G-13-15_40X_A1.2/micr/22G-13-15_40x_A1.2.tif
 21G-20-22_40X7/micr/21G-20-22_40X7.tif
 21G-20-22_40X7/micr/21G-20-22_40X7_acq-crop.png
 21G-

[2022-09-16 14:08] jcohenadad commented on #178
Also, I don't see your images, and I don't see your push:

<details><summary>Terminal output</summary>

[code]

</details>

[2022-09-16 17:29] kousu commented on #77
## Meeting - site_012

Today we had a meeting for 2 hours.

1. We gave @jcohenadad an account on https://spineimage.ca/, and made sure David Cadotte and our site_012 curator remembered their passwords too.
2. David Cadotte helped the site 12 curator use [`dcm2bids_helper` and `dcm2bids`](https://github.com/UNFmontreal/Dcm2Bids/) to construct and test a dcm2bids config file. It is a tedious process

[2022-09-20 03:56] kousu commented on #131
This is a duplicate of https://github.com/neuropoly/computers/issues/185

[2022-09-20 03:56] #131 closed

[2022-09-21 16:18] mguaypaq opened #179 "Add eeg-epilepsy dataset"
This is the dataset @AmbroiseOdonnat and @tgnassou were working on this summer, and it's now properly git-annexed and available on `data.neuro.polymtl.ca` as `datasets/eeg-epilepsy` :tada:

## Copy of the initial README file

[code]

## Steps done to test that it works

[code]

[2022-09-21 19:53] jcohenadad commented on #179
thank you!

[2022-09-22 20:10] mguaypaq commented on #179
I kept a non-git, non-annexed version of the original files on `duke` for now (taking up 3.0G of disk space), until this was tested and working. Shall I get rid of it now? (The path is `duke/projects/ivadomed/MEEG-Brainstorm/eeg-epilepsy`.)

[2022-09-22 20:22] mguaypaq commented on #179
Done!

[2022-09-22 20:22] #179 closed

[2022-09-23 01:39] kousu commented on #77
@mguaypaq has helped me merge in [HTTP downloads](https://github.com/neuropoly/gitea/pull/6), which means. I've tested it by moving a **complete copy** of https://github.com/spine-generic/data-single-subject onto https://data.dev.neuropoly.org/: https://data.dev.neuropoly.org/nick.guenther/spine-generic-single/.

<details><summary>Uploading</summary>

First, download the current copy:

[code]

The

[2022-09-30 13:57] Nish228 commented on #178
After reviewing git log from my side, the push seems to be there. If it could be reviewed again.
`(base) nishka@nishka-HP-ENVY-Laptop-13-ba1xxx:~/data_axondeepseg_bf_training$ git log
commit a1e42ff35afc06a3d2ac8a76a2c06413dcaa9f84 (HEAD, origin/working-branch, working-branch)
Author: Nish228 <nishkakatoch@gmail.com>
Date:   Fri Sep 16 07:29:02 2022 -0400

    Added new data of 20220708_vcu_sample

[2022-09-30 14:27] jcohenadad commented on #178
I still don't see it

<details><summary>Terminal output</summary>

[code]

</details>

Maybe @mguaypaq or @kousu could you please help?

[2022-09-30 21:02] mguaypaq commented on #178
Ah, I see: it looks like @Nish228 is working from a branch called `working-branch`, and @jcohenadad is looking at the `master` branch. All of the data exists on `data.neuro.polymtl.ca`, just on a different branch.

(As a side-note, I'm noticing that the two `.xlsx` spreadsheet files, of 178kB and 147kB, are included in the git repo directly, rather than being handled by git-annex. Is this a proble

[2022-10-28 00:51] mathieuboudreau opened #180 "Update initial upload of bavaria-quebec dataset"
After the initial upload of `data.neuro.polymtl.ca:datasets/bavaria-quebec-spine-ms`, @jcohenadad provided the following suggestions:

* [x] (minor) move everything under "20221012_NeuroPoly_Cohort_v1" directly at the root (convention for BIDS datasets-- all subjects should be at the root)
* [x] (minor) the README to use is already inside 20221012_NeuroPoly_Cohort_v1
* [x] (major) the labels shoul

[2022-10-28 19:20] mguaypaq commented on #180
@mathieuboudreau I think there are some files missing in the most recent upload, namely all the `*.nii.gz` files under `derivatives/`. (Given that the dataset is private but that this issue is publicly visible, I'm hesitant to post too many details.)

I thought I could fix this myself, because I thought they were just moved/renamed versions of the old `*_dseg.nii.gz` files, but according to git-an

[2022-10-28 20:10] mathieuboudreau commented on #180
Ahh thanks for catching that @mguaypaq , I did indeed accidentally skip this and pushed without doing so. I've just done so, and the `whereis` returns both locations (data server and local).

[2022-10-31 19:47] mguaypaq commented on #180
I can now `git annex get` the image files under `derivatives/`, thanks! In fact, they're listed as available both from the server and from your local copy (since the version of `git annex` on our servers is sadly slightly too old to recognize the `annex.private` configuration option).

- [ ] Note to future self: drop the references to @mathieuboudreau's local copy of the data once he gets rid of i

[2022-10-31 20:42] mguaypaq commented on #180
I pushed some changes to `master` on the git-annex server:
* Delete duplicates of manual segmentation files from outside `derivatives/`
* Fix typos in README
* Add bids-validator configuration file, ignoring:
  * INCONSISTENT_PARAMETERS, because of a few nifti files with different dimensions and/or spatial resolution.
  * MISSING_SESSION, because we're ok with using different session labels for ea

[2022-11-03 13:54] jqmcginnis commented on #180
@mguaypaq @mathieuboudreau I just updated the dataset, addressing the shortcomings (c.f. listed issues) and adding spinal cord segmentation files. For the link to the download please look at the channel in slack. If any issues arise, feel free to add them here again!

[2022-11-03 13:56] jqmcginnis commented on #180
As we provide the spinal cord segmentation files (as manual segmentations) now, @sandrinebedard and I decided to omit a preprocessing script for now.

[2022-11-04 18:34] mathieuboudreau commented on #180
@mguaypaq Julian's updated dataset has been uploaded to a new branch, `mb/20221102_update`. The branch was created from `master`, and I updated it prior to making the branch. I then deleted the old `derivatives` folder, and copied Julian's uploaded directory tree.

Hopefully this doesn't overwrite any of the changes you had made to `master`. Please have a look and let us know if it is mergeable in

[2022-11-04 20:45] mguaypaq commented on #180
I was able to merge the changes, and I pushed the new version to `master` on the server.

The `bids-validator` still complains that `RepetitionTime` and `EchoTime` are expressed in milliseconds, rather than in seconds, in violation of the BIDS specification. Is this something we're going to fix? I can write a script to do it, I just need to know that it's ok.

A small detail: I noticed that all th

[2022-11-05 09:32] jqmcginnis commented on #180
@mguaypaq thanks for bringing this to my attention again! :slightly_smiling_face: The thing is, we currently have an in-house pipeline that generates the NIFTI from DICOM and also generates the jsons with the wrong conventions for `RepetitionTime` and `EchoTime` and generates the date tags in the unconventional format (that I actually was not aware of - thanks!). I wanted to talk to the programmer

[2022-11-11 18:48] kiristern opened #181 "merge INsIDER_SCT_Segmentations_COR to basel-mp2rage git annex"

[2022-11-14 20:44] mguaypaq commented on #181
This is now merged into master. To make `bids-validator` happy, I also added two extra commits to:
1. rename the `scripts/` folder to `code/`, and
2. delete the empty JSON sidecar files.

After these changes, the following steps work:
[code]

[2022-11-14 20:44] #181 closed

[2022-11-15 16:34] sandrinebedard opened #182 "Modify derivatives softsegs in `spine-generic/data-multi-subject` in `sb/add_extra_manual_seg`"
## Description
We modified the registration algorithm to create the soft segmentations (_softseg) in `spine-generic/data-multi-subject/derivatives/labels_softseg`. I uploaded the modified soft segmentations and added some extra manual segmentations in the branch `sb/add_extra_manual_seg`.

[2022-11-15 16:52] mguaypaq commented on #180
Not to my knowledge. @jqmcginnis, has the "upcoming meeting" that you mentioned happened yet? (I'm not aware of which meeting this would be, myself.)

[2022-11-15 18:07] jqmcginnis commented on #180
@mathieuboudreau @mguaypaq sorry for the delay - last week's meeting got postponed to tomorrow (Nov 16), I will definitely address this in the meeting and let you know as soon as possible. Thanks for the follow up!

[2022-11-16 17:16] mguaypaq commented on #182
Maybe this should have been a pull request on the `spine-generic/data-multi-subject` repository? Anyway, I started looking into this, and I'm getting a ton of merge conflicts, so I'll have to sort those out.

According to `git merge-base master origin/sb/add_extra_manual_seg`, the `sb/add_extra_manual_seg` branches off from `master` at this commit:
[code]

The `master` branch contains 4 more commi

[2022-11-18 14:27] sandrinebedard commented on #182
hello @mguaypaq ! Next time I'm at poly we can take a look at it together. If you want, I can open a PR in spine generic if you prefer? Thanks!

[2022-11-21 20:09] mguaypaq commented on #182
This PR here will be fine, we can just use PRs in spine-generic in the future.

[2022-11-21 22:07] mguaypaq commented on #182
Alright! I think I extracted the new commits correctly to a new branch, `mgp/fix`, and I'll open a PR on spine-generic (because the `master` branch is protected) (it's now [data-multi-subject#133](https://github.com/spine-generic/data-multi-subject/pull/133)). Here's what I ended up doing:

[code]

[2022-11-21 22:07] #182 closed

[2022-11-24 20:24] valosekj opened #183 "`sct-testing-large` - rename CSM to DCM"
Based on a discussion with Julien, I unified the `pathology` column for patients with spinal cord compression in the `data.neuro.polymtl.ca/datasets/sct-testing-large/participants.tsv` file. Namely, I renamed `CSM` (Cervical Spondylotic Myelopathy) to `DCM` (Degenerative Cervical Myelopathy). My branch is named `jv/rename_CSM_to_DCM`.

[2022-11-24 21:57] mguaypaq commented on #183
I'm not finding any other instances of `CSM` anywhere, so it looks like the rename is complete. Merged into `master`.

[2022-11-24 21:57] #183 closed

[2022-11-25 20:37] valosekj opened #184 "Conversion of `duke/mri/INSPIRED/` to BIDS"
During the BIDSification of the `duke/mri/INSPIRED/` dataset, I came across the following points, which I would like to discuss.

## 1. Two centers

Since the `INSPIRED` dataset is from two centers (Zurich and Toronto), I would choose the following participant_ids:

* `sub-zurich`
* `sub-toronto`

## 2. Three pathologies

Within each centre, there are 3 types of subjects: `csm`, `hc`, `sci`. That'

[2022-11-26 15:28] jcohenadad commented on #184
- `sub-zurich-001` is not BIDS compliant, see definitions of [subject](https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#filesystem-structure) and [<label>](https://bids-specification.readthedocs.io/en/stable/02-common-principles.html#definitions)(item 10). Suggestion: `sub-zurich001`
- About "The complication is that there is an overlap in the numbering of subjects wit

[2022-11-26 18:06] valosekj commented on #184
Found:
https://github.com/courtois-neuromod/anat/tree/main/sub-01/ses-001/anat
https://github.com/courtois-neuromod/anat/issues/1#issuecomment-645364454

I'll use `bp-cspine`. Thank you 👍🏻

[2022-11-26 19:18] jcohenadad commented on #184
exactly! good

[2022-11-28 14:59] jcohenadad commented on #184
@valosekj new info from UCL: inspired01 = Toronto; inspired02 = Zurich

[2022-11-28 15:01] valosekj commented on #184
Thank you!

[2022-11-28 21:40] mguaypaq commented on #151
I would also like to check whether this removes the user from the various repositories' `CREATOR` and `OWNERS` and `READERS` and `WRITERS`, and whether we want it to. We probably should, unless we're certain we won't be re-using any usernames in the future.

[2022-11-30 20:12] valosekj opened #186 "`canproco` - add manually corrected T2w SC segmentation"
I added the `derivatives` folder with manually corrected T2w SC segmentation to the `datasets/canproco`. The branch is named `jv/canproco-add_t2w_sc_manual`.

@mchen1110 and @sandrinebedard thank you for the manual corrections!

SC segmentation was corrected for 45 subjects. The QC (`qc_corr_20221130140244.zip`) is attached to this issue. The list of corrected subjects (`2022-11-28_qc_fail.yml`) i

[2022-11-30 21:56] sandrinebedard commented on #186
I checked and everything looks in place!

@mguaypaq can you check it out?